﻿@model BAZARKA.CORE.ViewModels.VM_OrderandDetails
@using System.Web.Script.Serialization;
@using Newtonsoft.Json;
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/Master.cshtml";
}

<h2>Detail</h2>

<div style="margin-left:200px; color:white">
    <h4>VM_OrderandDetails</h4>
    <hr />
    <div class="dl-horizontal">
        @Html.Label("Order ID:", new { @class = "MyClass" })
        @Html.DisplayTextFor(Model => Model.Order.OrderID)

        @Html.DisplayName("Order Date:")
        @Html.DisplayTextFor(Model => Model.Order.OrderDate)
        @Html.DisplayName("DUE DATE:")
        @Html.DisplayTextFor(Model => Model.Order.DueDate)
        @Html.DisplayName("Required At:")
        @Html.DisplayTextFor(Model => Model.Order.RequiredDate)
        @Html.DisplayName("Customer ID:")
        @Html.DisplayTextFor(Model => Model.Order.CustomerID)
        @Html.DisplayName("Payment Type:")
        @Html.DisplayTextFor(Model => Model.Order.PaymentCode)
        @Html.DisplayName("Process:")
        @Html.DisplayTextFor(Model => Model.Order.ProcessCode)
        @Html.DisplayName("Contact:")
        @Html.DisplayTextFor(Model => Model.Order.ContactNumber)
        @Html.DisplayName("Address:")
        @Html.DisplayTextFor(Model => Model.Order.Address1)
        @Html.DisplayName("Address:")
        @Html.DisplayTextFor(Model => Model.Order.Address2)
        @Html.DisplayName("City:")
        @Html.DisplayTextFor(Model => Model.Order.City)
        @Html.DisplayName("Shipped Date:")
        @Html.DisplayTextFor(Model => Model.Order.ShipDate)
        @Html.DisplayName("Shippier ID:")
        @Html.DisplayTextFor(Model => Model.Order.ShipperiD)
        @Html.DisplayName("SALES TAX:")
        @Html.DisplayTextFor(Model => Model.Order.SalesTax)
        @Html.DisplayName("TRANS STATUS:")
        @Html.DisplayTextFor(Model => Model.Order.TransactStatus)
        @Html.DisplayName("TRANS ERR:")
        @Html.DisplayTextFor(Model => Model.Order.ErrDesc)
        @Html.DisplayName("PAYMENT DATE:")
        @Html.DisplayTextFor(Model => Model.Order.PaymentDate)
        @Html.DisplayName("FULFILED?:")
        @Html.DisplayTextFor(Model => Model.Order.FullFiled)
        @Html.DisplayName("ACTIVE:")
        @Html.DisplayTextFor(Model => Model.Order.Active)
        @Html.DisplayName("CREATE DATE:")
        @Html.DisplayTextFor(Model => Model.Order.CreateDate)
        @Html.DisplayName("UDPATE DATE:")
        @Html.DisplayTextFor(Model => Model.Order.UpdateBy)
        @Html.DisplayName("UDPATED BY:")
        @Html.DisplayTextFor(Model => Model.Order.UpdateBy)
        @Html.DisplayName("ADDRESS 3:")
        @Html.DisplayTextFor(Model => Model.Order.Address3)
        <table id="demoGrid" class="table table-striped table-bordered dt-responsive nowrap" width="100%" cellspacing="0" style="color:black">
            <thead>
                <tr>
                    <th>OrderID</th>
                    <th>SKU</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Discount</th>
                    <th>Total</th>
                    <th>Size</th>
                    <th>color</th>
                    <th>Fulfiled?</th>
                    <th>DueDate</th>
                    <th>ShipDate</th>
                    <th>ShipperId</th>
                    <th>ShippingCharges</th>
                    <th>SalesTax</th>
                    <th>Rejected</th>
                    <th>RejectionDetail</th>
                    <th>OrderID</th>
                    <th>ProductID</th>
                    <th>PromoID</th>
                    <th>PromoCode</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th>OrderID</th>
                    <th>SKU</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Discount</th>
                    <th>Total</th>
                    <th>Size</th>
                    <th>color</th>
                    <th>Fulfiled?</th>
                    <th>Due Date</th>
                    <th>Ship Date</th>
                    <th>Shipper id</th>
                    <th>Shipping charges</th>
                    <th>Sales tax</th>
                    <th>Rejected</th>
                    <th>Rejection Details</th>
                    <th>Order ID</th>
                    <th>Product ID</th>
                    <th>Promo ID</th>
                    <th>PromoCode</th>
                </tr>
            </tfoot>
        </table>
    </div>
</div>
@*<p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
        @Html.ActionLink("Back to List", "Index")
    </p>*@

<script>
    @*var dataset = JSON.parse(@Html.Raw(Model.OrderDetails));
    @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.OrderDetails, Newtonsoft.Json.Formatting.Indented));*@

    $(document).ready(function () {
        var dataset = @Html.Raw(Json.Encode(Model.OrderDetails));
        dataset = JSON.parse(JSON.stringify(dataset));
        $("#demoGrid").DataTable({
               "scrollY": "200px",
               "scrollCollapse": true,
               "paging": false,
               "data": dataset,
               "columnDefs": [{
                   "defaultContent": "-",
                   "targets": "_all"
               }],
               "columns": [
                   { mData: 'OrderDetailID' },
                   { mData: 'ProductSKU' },
                   { mData: 'Price' },
                   { mData: 'Quantity' },
                   { mData: 'Discount' },
                   { mData: 'Total' },
                   { mData: 'Size' },
                   { mData: 'Color' },
                   { mData: 'FulFilled' },
                   {
                       mData: 'DueDate', "name": "DueDate", "autoWidth": true, 'render': function (jsonDate) {
                           var date = new Date(parseInt(jsonDate.substr(6)));
                           var month = date.getMonth() + 1;
                           return date.getDate() + "/" + month + "/" + date.getFullYear();
                       }
                   },
                   {
                       mData: 'ShipDate', "name": "DueDate", "autoWidth": true, 'render': function (jsonDate) {
                           var date = new Date(parseInt(jsonDate.substr(6)));
                           var month = date.getMonth() + 1;
                           return date.getDate() + "/" + month + "/" + date.getFullYear();
                       }
                   },
                   { mData: 'ShipperID' },
                   { mData: 'ShippingCharges' },
                   { mData: 'SalesTax' },
                   { mData: 'Rejected' },
                   { mData: 'RejectionDetail' },
                   { mData: 'OrderID' },
                   { mData: 'ProductID' },
                   { mData: 'PromoID' },
                   { mData: 'PromoCode' }
                ]
        });
    });
</script>
