﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Master.cshtml";
}
<div class="content-wrapper" style="min-height:921px;">
    <br />
    <div style="width:90%; margin:0 auto;">
        <table id="demoGrid" class="table table-striped table-bordered dt-responsive nowrap" width="100%" cellspacing="0">
            <thead>
                <tr>
                    <th>OrderID</th>
                    <th>Order Date</th>
                    <th>Process</th>
                    <th>Contact</th>
                    <th>Address</th>
                    <th>City</th>
                    <th>Due Date</th>
                    <th>Payment</th>
                    <th>Completed?</th>
                    <th>Detail</th>
                    <th>Edit</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th>OrderID</th>
                    <th>Order Date</th>
                    <th>Process</th>
                    <th>Contact</th>
                    <th>Address</th>
                    <th>City</th>
                    <th>Due Date</th>
                    <th>Payment</th>
                    <th>Completed?</th>
                    <th>Detail</th>
                    <th>Edit</th>
                </tr>
            </tfoot>
        </table>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#demoGrid").DataTable({
            "processing": true, // for show progress bar
            "serverSide": true, // for process server side
            "filter": true, // this is for disable filter (search box)
            "orderMulti": true, // for disable multiple column at once
            "pageLength": 15,
            "paging": true,
            "ajax": {
                "url": '@Url.Action("GetData", "Order")',
                    "type": "POST",
                    "datatype": "json"
                },
                "columnDefs":
                [{
                    "targets": [0],
                    "visible": true,
                    "searchable": false
                },
                {
                    "targets": [4],
                    "searchable": true,
                    "orderable": true
                },
                {
                    "targets": [5],
                    "searchable": true,
                    "orderable": true
                }
                ],
                "columns": [

                    { "data": "OrderID", "name": "OrderID", "autoWidth": true },
                    {
                        "data": "OrderDate", "name": "OrderDate", "autoWidth": true, 'render': function (jsonDate)
                        {
                            var date = new Date(parseInt(jsonDate.substr(6)));
                            var month = date.getMonth() + 1;
                            return date.getDate() + "/" + month + "/" + date.getFullYear();
                        }
                    },
                    { "data": "ProcessCode", "name": "ProcessCode", "autoWidth": true },
                    { "data": "ContactNumber", "title": "ContactNumber", "name": "ContactNumber", "autoWidth": true },
                    { "data": "Address1", "name": "Address1", "autoWidth": true },
                    { "data": "City", "name": "City", "autoWidth": true },
                    { "data": "DueDate", "name": "DueDate", "autoWidth": true },
                    { "data": "PaymentCode", "name": "PaymentCode", "autoWidth": true },
                    { "data": "FullFiled", "name": "FullFiled", "autoWidth": true },
                    {
                        "render": function (data, type, full, meta)
                        { return '<a class="btn btn-info" href="/Order/Detail/'+full.OrderID + '">DETAIL</a>'; }
                    },
                        {
                        "render": function (data, type, full, meta)
                        { return '<a class="btn btn-info" href="/Order/Update/' + full.OrderID + '">UPDATE</a>'; }

                        //data: null, render: function (data, type, row) {
                        //    return "<a href='#' class='btn btn-danger' onclick=DeleteData('" + row.OrderID + "'); >Update</a>";
                        //}
                    },
                ]
        });
            //For individual column searching.
            //$('#demoGrid thead th').each(function (i)
            //{
            //    var title = $(this).text();
            //    $(this).html('<input type="text" placeholder="Search ' + title + '" data-index="' + i +'" />');
            //});

            //var table = $('#demoGrid').DataTable();

            //table.columns().every(function () {
            //    var that = this;
            //    $('input', this.footer()).on('Keyup change', function () {
            //        if (that.search() !== this.value) {
            //            table
            //                .search(this.value)
            //                .draw();
            //        }
            //    });
            //});
            
    });

</script>
