﻿@using BAZARKA.CORE.Models
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Master.mobile.cshtml";
}
@{
    var JustArrive = ViewBag.JustArrived;
    var EditorPick = ViewBag.EditorPick;
    var BestSeller = ViewBag.BestSeller;
}



<div class="bg-white"> <h1 class="text-center"> Just Arrived </h1>  </div>
<div class="owl-carousel owl-theme mt-3">
    @if (JustArrive != null)
    {
        for (int i = 0; i < 6; i++)
        {
            <div class="item">
                <img class="mx-auto d-block" src="@JustArrive[i].ProductThumbnail" />
                <a href="#"> <p class="text-center">"@JustArrive[i].ProductName"</p>  </a>
            </div>
        }
    }
    else
    {
        for (int i = 0; i < 6; i++)
        {
            <div class="item">
                <img class="mx-auto d-block" src="" />
                <a href="#"> <p class="text-center">Something Went Wrong</p>  </a>
            </div>
        }
    }
</div>
<template name="itembody">

</template>

<script type="text/javascript">
    var owl = $('.owl-carousel').owlCarousel();
    owl.addItem(Blaze.toHTMLWithData(Template.itemBody, item));
    $('.owl-carousel').owlCarousel({
        loop: true,
        margin: 10,
        nav: true,
        responsive: {
            0: {
                items: 2
            },
            600: {
                items: 3
            },
            1000: {
                items: 5
            }
        }
    })

</script>


<script>
    var products = [];
    $(document).on('click', '#A2C', function () {
        var productSku = $(this).attr('data-id');
        $.ajax({
            type: "POST",
            url: '@Url.Action("AddProduct", "Shop")',
            data: { productSku: productSku },
            dataType: "json",
            success: function (response) {
                alert(response.responseText);
            },
            error: function (response) {
                alert(response.responseText);
            }
        });
        //products.push(productSku);
        //$.cookie('CartProducts', produckts.join('-'), { path: '/' });
        //alert('Product Added to card');
    });
</script>


@*<div class="container-fluid padding">
    <div class="row justify-content-center">
        <div class="col-sm-12 col-12 col-md-6">
            <a href="#">
                <img src="img/banner1.png" class="mx-auto d-block" />
            </a>
        </div>
        <div class="col-sm-12 col-12 col-md-6">
            <a href="#">
                <img src="img/banner2.png" class="mx-auto d-block" />
            </a>
        </div>

    </div>
</div>

<div class="underline">
    <h1 class="ml-3"> Quick Links </h1>
    <ul class="list-group">
        <a href="#">
            <li class="list-group-item d-flex justify-content-between align-items-center">
                Makeup
                <span class="badge"><i class="fas fa-2x fa-arrow-right iblack"></i></span>
            </li>
        </a>
        <a href="#">
            <li class="list-group-item d-flex justify-content-between align-items-center">
                Skincare
                <span class="badge"><i class="fas fa-2x fa-arrow-right iblack"></i></span>
            </li>
        </a>
        <a href="#">
            <li class="list-group-item d-flex justify-content-between align-items-center">
                Fragrance
                <span class="badge"><i class="fas fa-2x fa-arrow-right iblack"></i></span>
            </li>
        </a>
        <a href="#">
            <li class="list-group-item d-flex justify-content-between align-items-center">
                Bestsellers
                <span class="badge"><i class="fas fa-2x fa-arrow-right iblack"></i></span>
            </li>
        </a>
        <a href="#">
            <li class="list-group-item d-flex justify-content-between align-items-center">
                Beauty Offers
                <span class="badge"><i class="fas fa-2x fa-arrow-right iblack"></i></span>
            </li>
        </a>
        <a href="#">
            <li class="list-group-item d-flex justify-content-between align-items-center">
                Rewards Bazaar
                <span class="badge"><i class="fas fa-2x fa-arrow-right iblack"></i></span>
            </li>
        </a>
        <a href="#">
            <li class="list-group-item d-flex justify-content-between align-items-center">
                Free Samples
                <span class="badge"><i class="fas fa-2x fa-arrow-right iblack"></i></span>
            </li>
        </a>
        <a href="#">
            <li class="list-group-item d-flex justify-content-between align-items-center">
                Sale
                <span class="badge"><i class="fas fa-2x fa-arrow-right iblack"></i></span>
            </li>
        </a>
        <a href="#">
            <li class="list-group-item d-flex justify-content-between align-items-center">
                Gift Cards
                <span class="badge"><i class="fas fa-2x fa-arrow-right iblack"></i></span>
            </li>
        </a>
    </ul>

</div>


<div> <h1 class="text-center"> Recommended For You </h1>  </div>

<div class="owl-carousel owl-theme mt-3">
    <div class="item">
        <img class="mx-auto d-block" src="img/just.png" />
        <a href="#"> <p class="text-center"> Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, </p>  </a>
    </div>

    <div class="item">
        <img class="mx-auto d-block" src="img/just2.png" />
        <a href="#"> <p class="text-center"> Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, </p>  </a>
    </div>

    <div class="item">
        <img class="mx-auto d-block" src="img/just3.png" />
        <a href="#"> <p class="text-center"> Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, </p>  </a>
    </div>

    <div class="item">
        <img class="mx-auto d-block" src="img/just4.png" />
        <a href="#"> <p class="text-center"> Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, </p>  </a>
    </div>

    <div class="item">
        <img class="mx-auto d-block" src="img/just5.png" />
        <a href="#"> <p class="text-center"> Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, </p>  </a>
    </div>

    <div class="item">
        <img class="mx-auto d-block" src="img/just6.png" />
        <a href="#"> <p class="text-center"> Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, </p>  </a>
    </div>
</div>

<script type="text/javascript">
    $('.owl-carousel').owlCarousel({
        loop: true,
        margin: 10,
        nav: true,
        responsive: {
            0: {
                items: 2
            },
            600: {
                items: 3
            },
            1000: {
                items: 5
            }
        }
    })

</script>


<div> <h1 class="text-center"> Bestsellers </h1>  </div>

<div class="owl-carousel owl-theme mt-3">

    @if (BestSeller != null && BestSeller.Count > 0)
    {
        for (int i = 0; i < 6; i++)
        {
    <div class="item">
        <img class="mx-auto d-block" src="@BestSeller[i].ProductThumbnail" />
        <a href="#"> <p class="text-center">@BestSeller[i].ProductName</p>  </a>
    </div>
        }
    }
    else
    {
        for (int i = 0; i < 6; i++)
        {
            <div class="item">
                <img class="mx-auto d-block" src="" />
                <a href="#"> <p class="text-center"> NOT FOUND</p>  </a>
            </div>
        }
    }

    <script type="text/javascript">
        $('.owl-carousel').owlCarousel({
            loop: true,
            margin: 10,
            nav: true,
            responsive: {
                0: {
                    items: 2
                },
                600: {
                    items: 3
                },
                1000: {
                    items: 5
                }
            }
        })

        $("#A2C").click(function () {
            var productSku = $(this).attr('data-id');
            $.cookie('CartProducts', productSku);
            alert('Product Added to card');
        });

    </script>


    @{
        Html.RenderAction("RecommendedForYou");
    }*@
