﻿@using BAZARKA.CORE.Models
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Master.cshtml";
}
@{
    var JustArrive = ViewBag.JustArrived;
    var EditorPick = ViewBag.EditorPick;
    var BestSeller = ViewBag.BestSeller;
}

<div class="myslider">
    <div class="container-fluid">
        <div id="demo" class="carousel slide" data-ride="carousel">

            <!-- Indicators -->
            <ul class="carousel-indicators">
                <li data-target="#demo" data-slide-to="0" class="active"></li>
                <li data-target="#demo" data-slide-to="1"></li>
                <li data-target="#demo" data-slide-to="2"></li>
            </ul>

            <!-- The slideshow -->
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="~/Content/img/sephora.jpg" alt="Los Angeles" width="1100" height="500">
                </div>
                <div class="carousel-item">
                    <img src="~/Content/img/sephora.jpg" alt="Chicago" width="1100" height="500">
                </div>
                <div class="carousel-item">
                    <img src="~/Content/img/sephora.jpg" alt="New York" width="1100" height="500">
                </div>
            </div>
            <!-- Left and right controls -->
            <a class="carousel-control-prev" href="#demo" data-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </a>
            <a class="carousel-control-next" href="#demo" data-slide="next">
                <span class="carousel-control-next-icon"></span>
            </a>
        </div>
    </div>
</div>
<div class="container">
    <!-- product Slider Start-->
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="text-center">Just Arrived</h2>
                <div id="product1" class="carousel slide" data-ride="carousel" data-interval="0">
                  
                    <div class="carousel-inner">
                        <div class="item carousel-item active">
                            <div class="row">
                                @{
                                    int i = 0;
                                }
                                @if (@JustArrive != null && JustArrive.Count > 0)
                                {
                                    for (int j = i; j < 6; j++)
                                    {
                                        <div class="col-sm-2">
                                            <div class="thumb-wrapper">
                                                <div class="img-box">
                                                    <img src="@JustArrive[j].ProductThumbnail" class="img-responsive img-fluid" alt="">
                                                </div>
                                                <div class="thumb-content">
                                                    <h4 class="myh4" style="height:40px; overflow:hidden;">@JustArrive[j].ProductName</h4>
                                                    <p class="myp m-0 p-0" style="overflow:hidden; height:35px; font-size:10px !important;">@JustArrive[j].ProductDetail.ShortDesc </p>
                                                    <p class="item-price mb-0 pb-1"><strike>$400.00</strike> <span>Pkr @JustArrive[j].UnitPrice</span></p>
                                                    <button class="btn btn-primary" id="A2C" data-id="@JustArrive[j].SKU">ADD TO CART</button>
                                                </div>
                                            </div>
                                        </div>
                                        i = j;
                                    };
                                }
                                else
                                {
                                    for (int j = i; j < 6; j++)
                                    {
                                        <div class="col-sm-2">
                                            <div class="thumb-wrapper">
                                                <div class="img-box">
                                                    <img src="@JustArrive[j].ProductThumbnail" class="img-responsive img-fluid" alt="">
                                                </div>
                                                <div class="thumb-content">
                                                    <h4 class="myh4" style="height:40px; overflow:hidden;">@JustArrive[j].ProductName</h4>
                                                    <p class="item-price mb-0 pb-1"><strike>$400.00</strike> <span>Pkr @JustArrive[j].UnitPrice</span></p>
                                                    <p class="myp m-0 p-0" style="text-align:left; overflow:hidden; height:35px; font-size:10px !important;"> description is text that briefly introduces and describes a topic. In DITA, short desciptions are tagged with the short description element </p>
                                                    <button class="btn btn-primary" id="A2C" data-id="@JustArrive[j].SKU">ADD TO CART</button>
                                                </div>
                                            </div>
                                        </div>
                                        i = j;
                                    };
                                }

                            </div>
                        </div>
                        <div class="item carousel-item">
                            <div class="row">
                                @if (@JustArrive != null && JustArrive.Count > 0)
                                {
                                    for (int k = i; k < 11; k++)
                                    {
                                        <div class="col-sm-2">
                                            <div class="thumb-wrapper">
                                                <div class="img-box">
                                                    <img src="@JustArrive[k].ProductThumbnail" class="img-responsive img-fluid" alt="">
                                                    @*<img src="@oProduct.ProductThumbnail" class="img-responsive img-fluid" alt="">*@
                                                </div>
                                                <div class="thumb-content">
                                                    <h4>@JustArrive[k].ProductName</h4>
                                                    <p class="item-price"><strike>$400.00</strike> <span>Pkr @JustArrive[k].UnitPrice</span></p>
                                                    <button class="btn btn-primary" id="A2C" data-id="@JustArrive[k].SKU">ADD TO CART</button>
                                                </div>
                                            </div>
                                        </div>
                                    };
                                }
                                else
                                {
                                    for (int k = i; k < 11; k++)
                                    {
                                        <div class="col-sm-2">
                                            <div class="thumb-wrapper">
                                                <div class="img-box">
                                                    <img src="" class="img-responsive img-fluid" alt="">
                                                    @*<img src="@oProduct.ProductThumbnail" class="img-                                 responsive img-fluid" alt="">*@
                                                </div>
                                                <div class="thumb-content">
                                                    <h4>No Product!</h4>
                                                    <p class="item-price"><strike>$400.00</strike> <span>Pkr 00</span></p>
                                                    <button class="btn btn-primary" id="A2C" disabled>ADD TO CART</button>
                                                </div>
                                            </div>
                                        </div>
                                    };
                                }
                            </div>
                        </div>
                        <div class="item carousel-item">
                            <div class="row">
                               
                            </div>
                        </div>
                    </div>
                    <!-- Carousel controls -->
                    <a class="carousel-control left carousel-control-prev" href="#product1" data-slide="prev">
                        <i class="fa fa-2x fa-angle-left"></i>
                    </a>
                    <a class="carousel-control right carousel-control-next" href="#product1" data-slide="next">
                        <i class="fa fa-2x fa-angle-right"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <!-- product Slider End-->

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-sm-6">
                <a href="#">
                    <img src="~/Content/img/banner1.png" />
                </a>
            </div>
            <div class="col-sm-6">
                <a href="#">
                    <img src="~/Content/img/banner2.png" />
                </a>
            </div>

        </div>
    </div>

    <!-- product Slider Start-->
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="text-center">Editors' Picks</h2>
                <div id="product2" class="carousel slide" data-ride="carousel" data-interval="0">
                    <!-- Carousel indicators -->
                    <!-- Wrapper for carousel items -->
                    <div class="carousel-inner">
                        <div class="item carousel-item active">
                            <div class="row">
                                @if (EditorPick != null && EditorPick.Count>0)
                                {
                                    i = 0;
                                    for (int j = i; j < 6; j++)
                                    {
                                        <div class="col-sm-2">
                                            <div class="thumb-wrapper">
                                                <div class="img-box">
                                                    <img src="@EditorPick[j].ProductThumbnail" class="img-responsive img-fluid" alt="">
                                                    @*<img src="@oProduct.ProductThumbnail" class="img-responsive img-fluid" alt="">*@
                                                </div>
                                                <div class="thumb-content">
                                                    <h4>@EditorPick[j].ProductName</h4>
                                                    <p class="item-price"><strike>$400.00</strike> <span>Pkr @EditorPick[j].UnitPrice</span></p>
                                                    <button class="btn btn-primary" id="A2C" data-id="@EditorPick[j].SKU">ADD TO CART</button>
                                                </div>
                                            </div>
                                        </div>
                                        i = j;
                                    };
                                }
                                else
                                {
                                    for (int j = i; j < 6; j++)
                                    {
                                        <div class="col-sm-2">
                                            <div class="thumb-wrapper">
                                                <div class="img-box">
                                                    <img src="" class="img-responsive img-fluid" alt="">
                                                    @*<img src="@oProduct.ProductThumbnail" class="img-responsive img-fluid" alt="">*@
                                                </div>
                                                <div class="thumb-content">s
                                                    <h4>'Oops! Product Info Missing'</h4>
                                                    <p class="item-price"><strike>00</strike> <span>Oops! </span></p>
                                                    <button class="btn btn-primary" id="A2C" disabled>ADD TO CART</button>
                                                </div>
                                            </div>
                                        </div>
                                        i = j;
                                    };
                                }
                            </div>
                        </div>
                        <div class="item carousel-item">
                            <div class="row">
                                @if (EditorPick != null && EditorPick.Count>0) 
                                {
                                    for (int k = i; k < 11; k++)
                                    {
                                        <div class="col-sm-2">
                                            <div class="thumb-wrapper">
                                                <div class="img-box">
                                                    <img src="@EditorPick[k].ProductThumbnail" class="img-responsive img-fluid" alt="">
                                                    @*<img src="@oProduct.ProductThumbnail" class="img-responsive img-fluid" alt="">*@
                                                </div>
                                                <div class="thumb-content">
                                                    <h4>@EditorPick[k].ProductName</h4>
                                                    <p class="item-price"><strike>$400.00</strike> <span>Pkr @EditorPick[k].UnitPrice</span></p>
                                                    <button class="btn btn-primary" id="A2C" data-id="@EditorPick[k].SKU">ADD TO CART</button>
                                                </div>
                                            </div>
                                        </div>
                                    };
                                }
                                else
                                {
                                    for (int k = i; k < 11; k++)
                                    {
                                        <div class="col-sm-2">
                                            <div class="thumb-wrapper">
                                                <div class="img-box">
                                                    <img src="" class="img-responsive img-fluid" alt="">
                                                </div>
                                                <div class="thumb-content">
                                                    <h4>'Oops! Product Info Missing'</h4>
                                                    <p class="item-price"><strike>$000.00</strike> <span>Pkr </span></p>
                                                    <button class="btn btn-primary" id="A2C" disabled>ADD TO CART</button>
                                                </div>
                                            </div>
                                        </div>
                                    };
                                }
                            </div>
                        </div>
                        <div class="item carousel-item">

                        </div>
                    </div>
                    <!-- Carousel controls -->
                    <a class="carousel-control left carousel-control-prev" href="#product2" data-slide="prev">
                        <i class="fa fa-2x fa-angle-left"></i>
                    </a>
                    <a class="carousel-control right carousel-control-next" href="#product2" data-slide="next">
                        <i class="fa fa-2x fa-angle-right"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- product Slider End-->
    <!-- product Slider Start-->
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="text-center">Bestsellers</h2>
                <div id="product3" class="carousel slide" data-ride="carousel" data-interval="0">
                    <!-- Wrapper for carousel items -->
                    <div class="carousel-inner">
                        <div class="item carousel-item active">
                            <div class="row">
                                <div class="row">
                                    @if (BestSeller != null && BestSeller.Count > 0)
                                    {
                                        i = 0;
                                        for (int j = i; j < 6; j++)
                                        {
                                            <div class="col-sm-2">
                                                <div class="thumb-wrapper">
                                                    <div class="img-box">
                                                        <img src="@BestSeller[j].ProductThumbnail" class="img-responsive img-fluid" alt="">
                                                        @*<img src="@oProduct.ProductThumbnail" class="img-responsive img-fluid" alt="">*@
                                                    </div>
                                                    <div class="thumb-content">
                                                        <h4>@BestSeller[j].ProductName</h4>
                                                        <p class="item-price"><strike>$400.00</strike> <span>Pkr @BestSeller[j].UnitPrice</span></p>
                                                        <button class="btn btn-primary" id="A2C" data-id="@BestSeller[j].ProductSKU">ADD TO CART</button>
                                                    </div>
                                                </div>
                                            </div>
                                            i = j;
                                        }
                                    }
                                    else
                                    {
                                        for (int j = i; j < 6; j++)
                                        {
                                            <div class="col-sm-2">
                                                <div class="thumb-wrapper">
                                                    <div class="img-box">
                                                        <img src="" class="img-responsive img-fluid" alt="">
                                                        @*<img src="@oProduct.ProductThumbnail" class="img-responsive img-fluid" alt="">*@
                                                    </div>
                                                    <div class="thumb-content">
                                                        <h4>'Oops! Product Info Missing'</h4>
                                                        <p class="item-price"><strike>00</strike> <span>Oops! </span></p>
                                                        <button class="btn btn-primary" id="A2C" disabled>ADD TO CART</button>
                                                    </div>
                                                </div>
                                            </div>
                                            i = j;
                                        };
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="item carousel-item">
                            <div class="row">
                                <div class="row">
                                    @if (BestSeller != null && BestSeller.Count>0)
                                    {
                                        for (int k = i; k < 11; k++)
                                        {
                                            <div class="col-sm-2">
                                                <div class="thumb-wrapper">
                                                    <div class="img-box">
                                                        <img src="@BestSeller[k].ProductThumbnail" class="img-responsive img-fluid" alt="">
                                                        @*<img src="@oProduct.ProductThumbnail" class="img-responsive img-fluid" alt="">*@
                                                    </div>
                                                    <div class="thumb-content">
                                                        <h4>@BestSeller[k].ProductName</h4>
                                                        <p class="item-price"><strike>$400.00</strike> <span>Pkr @BestSeller[k].UnitPrice</span></p>
                                                        <button class="btn btn-primary" id="A2C" data-id="@BestSeller[k].ProductSKU">ADD TO CART</button>
                                                    </div>
                                                </div>
                                            </div>
                                        };
                                    }
                                    else
                                    {
                                        for (int k = i; k < 11; k++)
                                        {
                                            <div class="col-sm-2">
                                                <div class="thumb-wrapper">
                                                    <div class="img-box">
                                                        <img src="" class="img-responsive img-fluid" alt="">
                                                    </div>
                                                    <div class="thumb-content">
                                                        <h4>'Oops! Product Info Missing'</h4>
                                                        <p class="item-price"><strike>00.00</strike> <span>Pkr </span></p>
                                                        <button class="btn btn-primary" id="A2C" disabled>ADD TO CART</button>
                                                    </div>
                                                </div>
                                            </div>
                                        };
                                    }
                                </div>

                            </div>
                        </div>

                    </div>
                    <!-- Carousel controls -->
                    <a class="carousel-control left carousel-control-prev" href="#product3" data-slide="prev">
                        <i class="fa fa-2x fa-angle-left"></i>
                    </a>
                    <a class="carousel-control right carousel-control-next" href="#product3" data-slide="next">
                        <i class="fa fa-2x fa-angle-right"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <!-- product Slider End-->
    <!-- product Slider Start-->
    @{
        Html.RenderAction("RecommendedForYou");
    }
    <!-- product Slider End-->
</div>
<div class="container justify-content-center">
    <div class="row justify-content-center">
        <h1> Spot it. Shop it. </h1>
    </div>
    <div class="row justify-content-center">
        <div class="col-sm-3">
            <a href="#"><img src="~/Content/img/shop1.jpg">	</a>
        </div>
        <div class="col-sm-3">

            <a href="#"><img src="~/Content/img/shop2.jpg">		</a>
        </div>
        <div class="col-sm-3">
            <a href="#"><img src="~/Content/img/shop3.jpg">		</a>
        </div>
        <div class="col-sm-3">
            <a href="#"><img src="~/Content/img/shop4.jpg">		</a>
        </div>
    </div>
</div>

<script>
    $(document).on('click', '#A2C', function () {
        var productSku = $(this).attr('data-id');
        $.ajax({
            type: "POST",
            url: '@Url.Action("AddProduct", "Shop")',
            data: { productSku: productSku },
            dataType: "json",
            success: function (response) {
                alert(response.responseText);
            },
            error: function (response) {
                alert(response.responseText);
            }
        });
    });
</script>