﻿
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2 class="text-center">Recommended For You</h2>
            <div id="product4" class="carousel slide" data-ride="carousel" data-interval="0">
                <!-- Carousel indicators -->
                <!-- <ol class="carousel-indicators">
                    <li data-target="#product4" data-slide-to="0" class="active"></li>
                    <li data-target="#product4" data-slide-to="1"></li>
                    <li data-target="#product4" data-slide-to="2"></li>
                </ol>    -->
                <!-- Wrapper for carousel items -->
                <div class="carousel-inner">
                    <div class="item carousel-item active">
                        <div class="row">
                            <div class="col-sm-2">
                                <div class="thumb-wrapper">
                                    <div class="img-box">
                                        <img src="~/Content/img/just1.jpg" class="img-responsive img-fluid" alt="">
                                    </div>
                                    <div class="thumb-content">
                                        <h4>Beauty Product</h4>
                                        <p class="item-price"><strike>$400.00</strike> <span>$369.00</span></p>

                                        <a href="#" class="btn btn-primary">Add to Cart</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="thumb-wrapper">
                                    <div class="img-box">
                                        <img src="~/Content/img/just2.jpg" class="img-responsive img-fluid" alt="">
                                    </div>
                                    <div class="thumb-content">
                                        <h4>Beauty Product</h4>
                                        <p class="item-price"><strike>$400.00</strike> <span>$369.00</span></p>

                                        <a href="#" class="btn btn-primary">Add to Cart</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="thumb-wrapper">
                                    <div class="img-box">
                                        <img src="~/Content/img/just3.jpg" class="img-responsive img-fluid" alt="">
                                    </div>
                                    <div class="thumb-content">
                                        <h4>Beauty Product</h4>
                                        <p class="item-price"><strike>$400.00</strike> <span>$369.00</span></p>

                                        <a href="#" class="btn btn-primary">Add to Cart</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="thumb-wrapper">
                                    <div class="img-box">
                                        <img src="~/Content/img/just4.jpg" class="img-responsive img-fluid" alt="">
                                    </div>
                                    <div class="thumb-content">
                                        <h4>Beauty Product</h4>
                                        <p class="item-price"><strike>$255.00</strike> <span>$233.99</span></p>

                                        <a href="#" class="btn btn-primary">Add to Cart</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="thumb-wrapper">
                                    <div class="img-box">
                                        <img src="~/Content/img/just5.jpg" class="img-responsive img-fluid" alt="">
                                    </div>
                                    <div class="thumb-content">
                                        <h4>Beauty Product</h4>
                                        <p class="item-price"><strike>$899.00</strike> <span>$649.00</span></p>

                                        <a href="#" class="btn btn-primary">Add to Cart</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="thumb-wrapper">
                                    <div class="img-box">
                                        <img src="~/Content/img/just6.jpg" class="img-responsive img-fluid" alt="">
                                    </div>
                                    <div class="thumb-content">
                                        <h4>Beauty Product</h4>
                                        <p class="item-price"><strike>$315.00</strike> <span>$250.00</span></p>

                                        <a href="#" class="btn btn-primary">Add to Cart</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item carousel-item">
                        <div class="row">
                            <div class="col-sm-2">
                                <div class="thumb-wrapper">
                                    <div class="img-box">
                                        <img src="~/Content/img/just7.jpg" class="img-responsive img-fluid" alt="">
                                    </div>
                                    <div class="thumb-content">
                                        <h4>Beauty Product</h4>
                                        <p class="item-price"><strike>$289.00</strike> <span>$269.00</span></p>

                                        <a href="#" class="btn btn-primary">Add to Cart</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="thumb-wrapper">
                                    <div class="img-box">
                                        <img src="~/Content/img/just1.jpg" class="img-responsive img-fluid" alt="">
                                    </div>
                                    <div class="thumb-content">
                                        <h4>Beauty Product</h4>
                                        <p class="item-price"><strike>$289.00</strike> <span>$269.00</span></p>

                                        <a href="#" class="btn btn-primary">Add to Cart</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="thumb-wrapper">
                                    <div class="img-box">
                                        <img src="~/Content/img/just2.jpg" class="img-responsive img-fluid" alt="">
                                    </div>
                                    <div class="thumb-content">
                                        <h4>Beauty Product</h4>
                                        <p class="item-price"><strike>$289.00</strike> <span>$269.00</span></p>

                                        <a href="#" class="btn btn-primary">Add to Cart</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="thumb-wrapper">
                                    <div class="img-box">
                                        <img src="~/Content/img/just3.jpg" class="img-responsive img-fluid" alt="">
                                    </div>
                                    <div class="thumb-content">
                                        <h4>Beauty Product</h4>
                                        <p class="item-price"><strike>$1099.00</strike> <span>$869.00</span></p>

                                        <a href="#" class="btn btn-primary">Add to Cart</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="thumb-wrapper">
                                    <div class="img-box">
                                        <img src="~/Content/img/just4.jpg" class="img-responsive img-fluid" alt="">
                                    </div>
                                    <div class="thumb-content">
                                        <h4>Beauty Product</h4>
                                        <p class="item-price"><strike>$1099.00</strike> <span>$999.00</span></p>

                                        <a href="#" class="btn btn-primary">Add to Cart</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="thumb-wrapper">
                                    <div class="img-box">
                                        <img src="~/Content/img/just5.jpg" class="img-responsive img-fluid" alt="">
                                    </div>
                                    <div class="thumb-content">
                                        <h4>Beauty Product</h4>
                                        <p class="item-price"><strike>$599.00</strike> <span>$569.00</span></p>

                                        <a href="#" class="btn btn-primary">Add to Cart</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item carousel-item">
                        <div class="row">
                            <div class="col-sm-2">
                                <div class="thumb-wrapper">
                                    <div class="img-box">
                                        <img src="~/Content/img/just6.jpg" class="img-responsive img-fluid" alt="">
                                    </div>
                                    <div class="thumb-content">
                                        <h4>Beauty Product</h4>
                                        <p class="item-price"><strike>$369.00</strike> <span>$349.00</span></p>

                                        <a href="#" class="btn btn-primary">Add to Cart</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="thumb-wrapper">
                                    <div class="img-box">
                                        <img src="~/Content/img/just7.jpg" class="img-responsive img-fluid" alt="">
                                    </div>
                                    <div class="thumb-content">
                                        <h4>Beauty Product</h4>
                                        <p class="item-price"><strike>$315.00</strike> <span>$250.00</span></p>

                                        <a href="#" class="btn btn-primary">Add to Cart</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="thumb-wrapper">
                                    <div class="img-box">
                                        <img src="~/Content/img/just1.jpg" class="img-responsive img-fluid" alt="">
                                    </div>
                                    <div class="thumb-content">
                                        <h4>Beauty Product</h4>
                                        <p class="item-price"><strike>$450.00</strike> <span>$418.00</span></p>

                                        <a href="#" class="btn btn-primary">Add to Cart</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="thumb-wrapper">
                                    <div class="img-box">
                                        <img src="~/Content/img/just2.jpg" class="img-responsive img-fluid" alt="">
                                    </div>
                                    <div class="thumb-content">
                                        <h4>Beauty Product</h4>
                                        <p class="item-price"><strike>$350.00</strike> <span>$330.00</span></p>

                                        <a href="#" class="btn btn-primary">Add to Cart</a>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-2">
                                <div class="thumb-wrapper">
                                    <div class="img-box">
                                        <img src="~/Content/img/just3.jpg" class="img-responsive img-fluid" alt="">
                                    </div>
                                    <div class="thumb-content">
                                        <h4>Beauty Product</h4>
                                        <p class="item-price"><strike>$350.00</strike> <span>$330.00</span></p>

                                        <a href="#" class="btn btn-primary">Add to Cart</a>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-2">
                                <div class="thumb-wrapper">
                                    <div class="img-box">
                                        <img src="~/Content/img/just4.jpg" class="img-responsive img-fluid" alt="">
                                    </div>
                                    <div class="thumb-content">
                                        <h4>Beauty Product</h4>
                                        <p class="item-price"><strike>$350.00</strike> <span>$330.00</span></p>

                                        <a href="#" class="btn btn-primary">Add to Cart</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Carousel controls -->
                <a class="carousel-control left carousel-control-prev" href="#product4" data-slide="prev">
                    <i class="fa fa-2x fa-angle-left"></i>
                </a>
                <a class="carousel-control right carousel-control-next" href="#product4" data-slide="next">
                    <i class="fa fa-2x fa-angle-right"></i>
                </a>
            </div>
        </div>
    </div>
</div>