﻿@model List<Product>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Master.cshtml";
}
@{
    int Total = 0;
    int Shipping = 0;
    int Tax = 0;
}
<div class="container">
    <div class="row">
        <div class="col-lg-8">
            <div class="col-lg-12 m-0">
                <h3 class="myh1"> My Basket </h3>
                <h3 class="myh3">  </h3>
            </div>
            <div class="col-lg-12 greyborder mt-1 m-0">
                <h4> No Discounts For Now! </h4>
                <p>  </p>
            </div>
            <div class="col-lg-12 greyborder mt-1 m-0">
                <div class="border-bottom">
                    <div class="RenderProducts">
                        @{
                            Html.RenderAction("MiniBasket", "Shop");
                        }
                    </div>
                </div>
            </div>
            <!-- Similar Product Start -->
        </div>
        @{
            Html.RenderAction("OrderSummary", "Shop");
        }
    </div>
    <!-- row closed -->
    @{
        Html.RenderAction("RecommendedForYou", "Home");
    }
</div>
<script type="text/javascript">
    $(document).on('click', '.btdelete', function () {
        var productSku = $(this).attr('data-id');
        $.ajax({
            type: "POST",
            url: '@Url.Action("RemoveProduct", "Shop")',
            data: { productSku: productSku },
            dataType: "json",
            success: function (response) {
                alert(response.responseText);
                MyFunc();
            },
            error: function (response) {
                alert(response.responseText);
            }
        });
    });

    function MyFunc()
    {
        var mydiv = document.getElementById('RenderProducts');
    }
</script>
