﻿@model List<Product>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Master.cshtml";
}
@{
    int Total = 0;
    int Shipping = 0;
    int Tax = 0;
}




<div class="col-12 bg-white m-0">
    <h3 class="myh1"> My Basket </h3>


</div>

@{
    Html.RenderAction("MiniBasket", "Shop");
}





@{
    Html.RenderAction("OrderSummary", "Shop");
}





