﻿
@{
    ViewBag.Title = "Checkout";
    Layout = "~/Views/Shared/Master.cshtml";
}
@model BAZARKA.CORE.ViewModels.VM_PlaceOrder
<div class="container">
    <div class="row">
        <div class="col-lg-8" id="PlaceOrderView">
            @{ 
                Html.RenderAction("PlaceOrder", "Shop");
            }
            <div>
                @Html.ActionLink("Back to Products", "Index")
            </div>
        </div>
        <!-- right column closed -->
        @{
            Html.RenderAction("OrderSummary", "Shop");
        }
        <!-- left column closed -->
    </div>
    <!-- row closed -->
</div>  
<script>

</script>
