﻿
@{
    ViewBag.Title = "Checkout mobile";
    Layout = "~/Views/Shared/Master.mobile.cshtml";
}
@model BAZARKA.CORE.ViewModels.VM_PlaceOrder


<div class="container">
    <form class="greyborder p-3">

        <h3 class="myh3">  Shipping Address </h3>

        <!-- Name -->
        <input type="text" id="" class="form-control mb-4" placeholder="First Name">

        <!-- Last -->
        <input type="text" id="" class="form-control mb-4" placeholder="Last Name">

        <!-- Email -->
        <input type="email" id="" class="form-control mb-4" placeholder="Phone">

        <!-- Email -->
        <input type="email" id="" class="form-control mb-4" placeholder="Street Address">

        <!-- Email -->
        <input type="email" id="" class="form-control mb-4" placeholder="Zip Code">


        <!-- Sign in button -->
        <button class="btn btn-dark btn-block black" type="submit">Save and Continue</button>




    </form>

    <div class="col-lg-4 greyborder mt-4">
        <div class="col-lg-12 border-bottom">
            <h4 class="myh3"> Order summary </h4>

            <div class="row m-0 p-0">
                <div class="col-lg-8 m-0 p-0">
                    <p class="myp"> Merchandise subtotal</p>
                </div>
                <div class="col-lg-4 m-0 p-0">

                    <h4 class="myh4"> $86.00 </h4>
                </div>
            </div>

            <div class="row m-0 p-0">
                <div class="col-lg-8 m-0 p-0">
                    <p class="myp"> Shipping and Handling</p>
                </div>
                <div class="col-lg-4 m-0 p-0">

                    <h4 class="myh4"> FREE </h4>
                </div>
            </div>

            <div class="row m-0 p-0">
                <div class="col-lg-8 m-0 p-0">
                    <p class="myp"> Tax</p>

                </div>
                <div class="col-lg-4 m-0 p-0">

                    <h4 class="myh4"> TBD </h4>
                </div>
            </div>

        </div>


        <div class="col-lg-12 border-bottom">
            <div class="row m-0 p-0">
                <div class="col-lg-8 m-0 p-0">
                    <h4 class="myh4"> Estimated total</h4>

                </div>
                <div class="col-lg-4 m-0 p-0">

                    <h4 class="myh4"> $86.00 </h4>

                </div>
                <p class="myp"> Shipping & taxes calculated during checkout </p>
            </div>
            <button class="btn btn-dark w-100"> PLACE ORDER </button>
        </div>


    </div>

</div>