﻿@model BAZARKA.CORE.Models.CustomerInvoice

@{
    ViewBag.Title = "CustomerInvoice";
    Layout = "~/Views/Shared/Master.cshtml";
}

@*<h2>CustomerInvoice</h2>

<div>
    <h4>CustomerInvoice</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.InvoiceDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InvoiceDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DueDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DueDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InvoiceTo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InvoiceTo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.City)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.City)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Total)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Total)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Note)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Note)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpdateDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdateDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpdatedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdatedBy)
        </dd>

    </dl>
</div>
<p>
</p>*@



<div class="container">
    <h1 class="text-center"> ORDER PLACED! </h1>
    <div class="card">
        <div class="card-header">
            <span class="float-right"> <strong><button class="btn btn-dark"> Download </button></strong> </span>


            <strong>Invoice #164457 </strong> </br>
            @Html.DisplayFor(model => model.InvoiceDate) </br>
            @Html.DisplayFor(model => model.DueDate)


        </div>
        <div class="card-body">
            <div class="row mb-4">
                <div class="col-sm-6">
                    <h6 class="mb-3">From:</h6>
                    <div>
                        <strong>Webz Poland</strong>
                    </div>
                    <div>Madalinskiego 8</div>
                    <div>71-101 Szczecin, Poland</div>
                    <div>Email: info@webz.com.pl</div>
                    <div>Phone: +48 444 666 3333</div>
                </div>

                <div class="col-sm-6">
                    <h6 class="mb-3">To:</h6>
                    <div>
                        <strong>@Html.DisplayFor(model => model.InvoiceTo)</strong>
                    </div>
                    <div> @Html.DisplayFor(model => model.Address) </div>
                    <div>@Html.DisplayFor(model => model.City)</div>
                    <div>Email: marek@daniel.com</div>
                    <div>Phone: +48 123 456 789</div>
                </div>



            </div>

            <div class="table-responsive-sm">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th class="center">#</th>
                            <th>Item</th>
                            <th>Description</th>

                            <th class="right">Unit Cost</th>
                            <th class="center">Qty</th>
                            <th class="right">Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="center">1</td>
                            <td class="left strong">Origin License</td>
                            <td class="left">Extended License</td>

                            <td class="right">$999,00</td>
                            <td class="center">1</td>
                            <td class="right">$999,00</td>
                        </tr>
                        <tr>
                            <td class="center">2</td>
                            <td class="left">Custom Services</td>
                            <td class="left">Instalation and Customization (cost per hour)</td>

                            <td class="right">$150,00</td>
                            <td class="center">20</td>
                            <td class="right">$3.000,00</td>
                        </tr>
                        <tr>
                            <td class="center">3</td>
                            <td class="left">Hosting</td>
                            <td class="left">1 year subcription</td>

                            <td class="right">$499,00</td>
                            <td class="center">1</td>
                            <td class="right">$499,00</td>
                        </tr>
                        <tr>
                            <td class="center">4</td>
                            <td class="left">Platinum Support</td>
                            <td class="left">1 year subcription 24/7</td>

                            <td class="right">$3.999,00</td>
                            <td class="center">1</td>
                            <td class="right">$3.999,00</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="row">
                <div class="col-lg-4 col-sm-5">

                </div>

                <div class="col-lg-6 col-sm-5 ml-auto">
                    <table class="table table-clear">
                        <tbody>
                            <tr>
                                <td class="left">
                                    <strong>Subtotal</strong>
                                </td>
                                <td class="right">$8.497,00</td>
                            </tr>
                            <tr>
                                <td class="left">
                                    <strong>Discount (20%)</strong>
                                </td>
                                <td class="right">$1,699,40</td>
                            </tr>
                            <tr>
                                <td class="left">
                                    <strong>VAT (10%)</strong>
                                </td>
                                <td class="right">$679,76</td>
                            </tr>
                            <tr>
                                <td class="left">
                                    <strong>Total</strong>
                                </td>
                                <td class="right">
                                    <strong>$7.477,36</strong>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                </div>

            </div>

        </div>
    </div>
</div>

