﻿@model BAZARKA.CORE.Models.CustomerInvoice

@*@{
        ViewBag.Title = "CustomerInvoice";
        Layout = "~/Views/Shared/Master.cshtml";
    }*@

<h2>CustomerInvoice</h2>
<div class="container w-50">
    <h1 class="text-center"> ORDER PLACED! </h1>
    <div class="card">
        <div class="card-header">
            <span class="float-right"> <strong><button class="btn btn-dark"> Download </button></strong> </span>
            <strong>Invoice #164457 </strong> </br>
            @Html.DisplayFor(model => model.InvoiceDate) </br>
            @Html.DisplayFor(model => model.DueDate)
        </div>
        <div class="card-body">
            <div class="row mb-4">
                <div class="col-sm-6">
                    <h6 class="mb-3">From:</h6>
                    <div>
                        <strong>Webz Poland</strong>
                    </div>
                    <div>Madalinskiego 8</div>
                    <div>71-101 Szczecin, Poland</div>
                    <div>Email: info@webz.com.pl</div>
                    <div>Phone: +48 444 666 3333</div>
                </div>

                <div class="col-sm-6">
                    <h6 class="mb-3">To:</h6>
                    <div>
                        <strong>@Html.DisplayFor(model => model.InvoiceTo)</strong>
                    </div>
                    <div> @Html.DisplayFor(model => model.Address) </div>
                    <div>@Html.DisplayFor(model => model.City)</div>
                    <div>Email: marek@daniel.com</div>
                    <div>Phone: +48 123 456 789</div>
                </div>
            </div>
            <div class="table-responsive-sm">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th class="center">#</th>
                            <th>Item</th>
                            <th>Description</th>

                            <th class="right">Unit Cost</th>
                            <th class="center">Qty</th>
                            <th class="right">Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        @*@{
                            List<string> product = Model.Description.Split('-').ToList();
                            for (int i = 1; i <= product.Count; i++)
                            {
                                foreach (var obj in product)
                                {
                                    <tr>
                                        <td>obj.ToString();</td>
                                    </tr>
                                }
                            }
                        }*@

                        @*<tr>
                            <td class="center">2</td>
                            <td class="left">Custom Services</td>
                            <td class="left">Instalation and Customization (cost per hour)</td>

                            <td class="right">$150,00</td>
                            <td class="center">20</td>
                            <td class="right">$3.000,00</td>
                        </tr>
                        <tr>
                            <td class="center">3</td>
                            <td class="left">Hosting</td>
                            <td class="left">1 year subcription</td>

                            <td class="right">$499,00</td>
                            <td class="center">1</td>
                            <td class="right">$499,00</td>
                        </tr>
                        <tr>
                            <td class="center">4</td>
                            <td class="left">Platinum Support</td>
                            <td class="left">1 year subcription 24/7</td>

                            <td class="right">$3.999,00</td>
                            <td class="center">1</td>
                            <td class="right">$3.999,00</td>
                        </tr>*@
                    </tbody>
                </table>
            </div>
            <div class="row">
                <div class="col-lg-4 col-sm-5">
                </div>
                <div class="col-lg-6 col-sm-5 ml-auto">
                    <table class="table table-clear">
                        <tbody>
                            <tr>
                                <td class="left">
                                    <strong>Subtotal</strong>
                                </td>
                                <td class="right">$8.497,00</td>
                            </tr>
                            <tr>
                                <td class="left">
                                    <strong>Discount (20%)</strong>
                                </td>
                                <td class="right">$1,699,40</td>
                            </tr>
                            <tr>
                                <td class="left">
                                    <strong>VAT (10%)</strong>
                                </td>
                                <td class="right">$679,76</td>
                            </tr>
                            <tr>
                                <td class="left">
                                    <strong>Total</strong>
                                </td>
                                <td class="right">
                                    <strong>$7.477,36</strong>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

