﻿<div class="container">


    @model List<Product>
    @{
        if (Model != null && Model.Count() > 0)
        {
            <div class="m-0 p-0 bg-white"> <h4 class="m-0 p-0"> You have @Model.Count() items.</h4> </div>
        }
        else
        {
            <div class="m-0 p-0 bg-white"> <h4 class="m-0 p-0"> Your basket is empty </h4> </div>
        }
    }

    <div class="myScroll">
        @if (Model != null && Model.Count() > 0)
        {


            foreach (var product in Model)
            {
                <div id="@product.SKU">
                    <div class="row bg-white m-1 greyborder">
                        <div class="col-2">
                            <img src="@product.ProductThumbnail" class="" style="width:100px; height:100px;">
                        </div>
                        <div class="col-4 ml-5 basketitem mt-2">
                            <a href="#">
                                @product.ProductName
                                <p class="myp overflow-hidden"> @product.ProductDetail.ShortDesc</p>
                            </a>
                            <p class="myp overflow-hidden"> @product.SKU</p>
                        </div>


                        <div class="col-3">
                            <div class="form-group">
                                <select class="custom-select">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="1">4</option>
                                    <option value="2">5</option>
                                    <option value="3">6</option>
                                    <option value="1">7</option>
                                    <option value="2">8</option>
                                    <option value="3">9</option>
                                </select>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <strong><span> Rs. @product.UnitPrice </span> </strong>
                                    <button type="button" class="btn btn-danger mt-3 btdelete" data-id="@product.SKU" id="btdelete">  Remove </button>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            }

        }
    </div>

    <script>
        $(document).on('click', '#btdelete', function () {
            var productSku = $(this).attr('data-id');
            swal({
                title: "Are you sure?",
                text: "Remove product from cart!",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            })
                .then((willDelete) => {
                    if (willDelete) {
                        $.ajax({
                            type: "POST",
                            url: '@Url.Action("RemoveProduct", "Shop")',
                        data: { productSku: productSku },
                        dataType: "json",
                        success: function (response) {
                            $('.RenderProducts').load(@{Html.RenderAction("MiniBasket", "Shop");});
                            //$('#' + productSku).html(' ');
                        },
                        error: function (response) {
                            alert(response.responseText);
                        }
                    });
                    swal("Item removed!", {
                        icon: "success",
                        buttons: false
                    });
                } else {
                    swal("Your imaginary file is safe!");
                }
            });
    });
    </script>

</div>