﻿@model List<Product>
@{
    if (Model != null && Model.Count() > 0)
    {
        <div class="m-0 p-0"> <h4 class="m-0 p-0"> You have @Model.Count() items.</h4></div>
    }
    else
    {
        <div class="m-0 p-0"> <h4 class="m-0 p-0"> Your basket is empty </h4> </div>
    }
}
<div class="myScroll">
    @if (Model != null && Model.Count() > 0)
    {
        foreach (var product in Model)
        {
            <div id="@product.SKU">
                <div class="row bg-white m-1 greyborder">
                    <div class="col-lg-2">
                        <img src="@product.ProductThumbnail" class="thumbnail" style="width:100px; height:100px;">
                    </div>
                    <div class="col-lg-4 ml-5 basketitem mt-2">
                        <a href="#">
                            @product.ProductName
                            <p class="myp"> @product.ProductDetail.ShortDesc</p>
                        </a>
                        <p class="myp"> @product.SKU</p>
                    </div>
                    <div class="col-lg-2">
                        <div class="form-group">
                            <select class="custom-select" data-id="@product.SKU">
                                @for(int i=0; i<product.UnitOnOrder; i++)
                                {
                                    if (i != product.UnitsInStock)
                                    {
                                        <option value="@i">@i</option>
                                    }
                                    else
                                    {
                                        <option value="@i" selected>@i</option>
                                    }
                                }
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <strong><span id="unitprice"> @product.UnitPrice </span></strong>
                        <button type="button" class="btn btn-danger mt-3 btdelete" data-id="@product.SKU" id="btdelete">  Remove </button>
                    </div>
                </div>
            </div>
        }

    }
</div>

<script>
    $(document).on('change', '.custom-select', function () {
        var productSku = $(this).attr('data-id');
        var optionSelected = $(this).find("option:selected");
        var qty = optionSelected.text();
        $.ajax({
            type: "POST",
            url: '@Url.Action("UpdateProduct", "Shop")',
            data:
            {
                productSku: productSku,
                qty:qty
            },
            dataType: "json",
            success: function (response) {

            },
            error: function (response) {

            }
        });

    });
</script>