﻿@{
    var Total = ViewBag.Total;
    var Shipping = ViewBag.Shipping;
    var Tax = ViewBag.Tax;
}
<div class="container">
    <div class="col-12 bg-white border-bottom">
        <h4 class="myh3"> Order summary </h4>

        <div class="row bg-white m-0 p-0">
            <div class="col-8 m-0 p-0">
                <p class="myp"> Merchandise subtotal</p>
            </div>
            <div class="col-4 m-0 p-0">
                <h4 class="myh4"> @Total Pkr</h4>
            </div>
        </div>

        <div class="row bg-white m-0 p-0">
            <div class="col-8 m-0 p-0">
                <p class="myp"> Shipping and Handling</p>
            </div>
            <div class="col-4 m-0 p-0">
                <h4 class="myh4"> @Shipping </h4>
            </div>
        </div>

        <div class="row bg-white m-0 p-0">
            <div class="col-8 m-0 p-0">
                <p class="myp"> Tax </p>
            </div>
            <div class="col-4 m-0 p-0">
                <h4 class="myh4"> @Tax</h4>
            </div>
        </div>
    </div>
    <div class="col-12 bg-white border-bottom">
        <div class="row m-0 p-0">
            <div class="col-8 m-0 p-0">
                <h4 class="myh4"> Estimated total</h4>
            </div>
            <div class="col-4 m-0 p-0">

                <h4 class="myh4"> @Total </h4>
            </div>
            <p class="myp"> Shipping & taxes calculated during checkout </p>
        </div>
    </div>
    <div class="bg-white col-lg-12 border-bottom">
        <div class="row m-0 p-0">
            <div class="col-lg-4 m-0 p-0">
            </div>
            <div class="col-lg-8 m-0 p-0 text-right">
                <button type="button" class="btn btn-link iblack" data-toggle="modal" data-target="#myModal">
                    View Promo Codes
                    <i class="fas fa-arrow-right iblack"></i>
                </button>
            </div>
            <div class="bg-white col-lg-12 m-0 p-0">
                <input type="text" placeholder="Promo or reward code" class="w-100 border p-2">
            </div>
            <div class="modal fade" id="myModal">
                <div class="modal-dialog">
                    <div class="modal-content white">
                        <!-- Modal Header -->
                        <!-- <div class="modal-header  w-100">
                          <h4 class="modal-title">Modal Heading</h4>
                          <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div> -->
                        <!-- Modal body -->

                        <button type="button" class="btn btn-link iblack" data-dismiss="modal">
                            Promotion Codes
                            <i class="fas fa-arrow-left"></i>
                        </button>

                        <div class="modal-body">

                            <h3>   Bazarka Promotions </h3>
                            <p>
                                Occasionally Bazarka.pk offers promotions through e-mails, catalogs, and advertisements. You will always receive free shipping on U.S. merchandise orders over $50. As a registered member of Sephora.com, you may be eligible from time to time to receive e-mail promotions and offers that include special codes for special free samples, free shipping, or other promotions.

                                **Please note that excessive abuse or misuse of promotions and codes may result in order or item cancellation. In order to allow fair redemption and distribution of promotions to all of our registered clients, Sephora may restrict redemption to one per client.

                            </p>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-dark" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bg-white col-lg-12">
        <button class="btn btn-danger w-100" onclick="@Url.Action("Checkout","Shop")"> CHECK OUT </button>
    </div>
    <div class="col-lg-12">
        <div id="paypal-button-container"></div>

        <!-- Include the PayPal JavaScript SDK -->
        @*<script src="https://www.paypal.com/sdk/js?client-id=sb&currency=USD"></script>*@

        @*<script>
                // Render the PayPal button into #paypal-button-container
                paypal.Buttons({

                    // Set up the transaction
                    createOrder: function (data, actions) {
                        return actions.order.create({
                            purchase_units: [{
                                amount: {
                                    value: '0.01'
                                }
                            }]
                        });
                    },

                    // Finalize the transaction
                    onApprove: function (data, actions) {
                        return actions.order.capture().then(function (details) {
                            // Show a success message to the buyer
                            alert('Transaction completed by ' + details.payer.name.given_name + '!');
                        });
                    }


                }).render('#paypal-button-container');
            </script>*@

    </div>
</div>