﻿@model BAZARKA.CORE.ViewModels.VM_PlaceOrder
@{
    var orderID = ViewBag.OrderID;
}
<div id="ShippingDetails" class="greyborder p-3">
    @using (Ajax.BeginForm("PlaceOrder", "Shop", FormMethod.Post, new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "ShippingDetails", InsertionMode = InsertionMode.Replace }))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>Shipping Details</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
            @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control mb-4", placeholder = "First Name" } })

            @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
            @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control mb-4", @placeholder = "Last Name" } })

            @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
            @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control mb-4", @placeholder = "Mobile #" } })

            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control mb-4", @placeholder = "Email" } })

            @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
            @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control mb-4", @placeholder = "Address" } })

            @Html.ValidationMessageFor(model => model.City, "", new { @class = "text-danger" })
            @Html.EditorFor(model => model.City, new { htmlAttributes = new { @class = "form-control mb-4", @placeholder = "City" } })
            <input type="submit" value="PLACE ORDER" class="btn btn-dark btn-block black" />
        </div>
    }
</div>
