﻿
@{
    ViewBag.Title = "Products";
    Layout = "~/Views/Shared/Master.cshtml";
}
<div class="container-fluid">
    <div class="row">

        <div class="col-lg-2 ml-5" style="border-right:1px solid grey;">
            <button type="button" class="btn btn-link iblack m-0 pl-3" data-dismiss="modal">
                All Just Arrived
                <i class="fas fa-arrow-right iblack"></i> MAKEUP
            </button>
            <hr class="black" />
            <ul class="list-group">
                <a href="#">
                    <strong>
                        <li class="list-group-item border-0 m-0 pt-2">	Just Arrived </li>
                    </strong>
                </a>
                <a href="#"> 	<li class="list-group-item border-0 m-0 pt-2">	Makeup </li></a>
                <a href="#">			<li class="list-group-item border-0 m-0 pt-2">	Skincare			</li> </a>
                <a href="#">			<li class="list-group-item border-0 m-0 pt-2">	Fragrance			</li> </a>
                <a href="#">			<li class="list-group-item border-0 m-0 pt-2">	Bath & Body			</li> </a>
                <a href="#">			<li class="list-group-item border-0 m-0 pt-2">	Hair			</li> </a>
                <a href="#">			<li class="list-group-item border-0 m-0 pt-2">	Tools & Brushes			</li> </a>
                <a href="#">			<li class="list-group-item border-0 m-0 pt-2">	Men			</li> </a>
                <div><hr class="black"></div>
                <a href="#">			<li class="list-group-item border-0 m-0 pt-2">	New at Bazarka			</li> </a>
            </ul>
        </div>
        <div class="col-lg-9 pull-right m-0 p-0">
            <div id="product1" class="carousel slide" data-ride="carousel" data-interval="0">
                <div class="carousel-inner">
                    <div class="item carousel-item active" id="prddiv">
                        <div class="row">
                            <script>
    $(document).ready(function () {
        var currentPageNumber = 1;
        LoadData(currentPageNumber);
        $(window).scroll(function () {
            if ($(window).scrollTop() == $(document).height() - $(window).height()) {
                currentPageNumber += 1;
                //alert('hit');
                LoadData(currentPageNumber);
            }
        })
        function LoadData(currentpage) {
            $.ajax({
                url: '@Url.Action("LoadData", "Product")',
                method: 'post',
                data: { pagenumber: currentpage, pagesize: 50 },
                dataType: 'json',
                success: function (data) {
                    var ProductDiv = $('#prddiv');
                    $(data).each(function (index, obj) {
                        ProductDiv.append('<div class="col-lg-2 col-md-3 col-sm-4 col-6 float-left"><div class="thumb-wrapper"><div class="img-box"><img src="obj.ProductThumbnail" class="imgresponsive img-fluid" alt=""><img src='+obj.ProductThumbnail+' class="img-responsive img-fluid" style="width;200px; height:200px;" alt=""></div><div class="thumb-content"><h4 class="myh4" style="height:40px; overflow:hidden;">'+obj.ProductName+'</h4><span> <a href="#quickview" data-target="#quickview" data-toggle="modal" class="w-100"> Quick View </a> </span>  <p class="myp m-0 p-0" style="overflow:hidden; height:35px; font-size:10px !important;">'+obj.ProductThumbnail+'</p> <p class="item-price mb-0 pb-1"><strike>$400.00</strike><span>'+obj.UnitPrice+'</span></p>'

                                            +'<a href="#" class="btn btn-primary">Add to Cart</a></div></div></div>')
                    })
                }
            })
        }
    })
                            </script>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- quick model start -->
<!-- The Modal -->
<div class="modal" id="quickview">
    <div class="modal-dialog modal-full" role="document">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Modal Heading</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <!-- add to basket start -->


            <div class="row">
                <div class="col-lg-6">
                    <img class="rounded" src="/Content/img/just7.JPG" />
                </div>

                <div class="col-lg-5 basket mt-3">
                    <strong> <a href="#">NARS s</a> </strong>
                    </br>
                    <a>Endless Orgasm Palette </a>                    
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 basket ml-3">
                    <h4><strong> $49.00 </strong> </h4>
                </div>
                <div class="col-lg-6 ml-5">
                    <div class="row mt-2">
                        <div class="col-lg-4">
                            <div class="form-group">
                                <select class="custom-select">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="1">4</option>
                                    <option value="2">5</option>
                                    <option value="3">6</option>
                                    <option value="1">7</option>
                                    <option value="2">8</option>
                                    <option value="3">9</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-8 mx-0 px-0 pl-1">
                            <button class="btn btn-danger">
                                <span> ADD TO BASKET </span>
                            </button>
                        </div>
                    </div>                  
            </div>

            <!-- add to basket end -->
            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-dark" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>

<!-- quick model end -->