﻿
@{
    ViewBag.Title = "Products";
    Layout = "~/Views/Shared/Master.cshtml";
}
<div class="container-fluid">
    <div class="row bg-white">

        
        <div class="col-12 pull-right m-0 p-0">
            <div id="product1" class="carousel slide" data-ride="carousel" data-interval="0">
                <div class="carousel-inner">
                    <div class="item carousel-item active" id="prddiv">
                        <div class="row">
                            <script>
    $(document).ready(function () {
        var currentPageNumber = 1;
        LoadData(currentPageNumber);
        $(window).scroll(function () {
            if ($(window).scrollTop() == $(document).height() - $(window).height()) {
                currentPageNumber += 1;
                //alert('hit');
                LoadData(currentPageNumber);
            }
        })
        function LoadData(currentpage) {
            $.ajax({
                url: '@Url.Action("LoadData", "Product")',
                method: 'post',
                data: { pagenumber: currentpage, pagesize: 50 },
                dataType: 'json',
                success: function (data) {
                    var ProductDiv = $('#prddiv');
                    $(data).each(function (index, obj) {
                        ProductDiv.append('<div class="col-lg-2 col-md-4 col-sm-6 col-12 float-left"><div class="thumb-wrapper"><div class="img-box"><img src="obj.ProductThumbnail" class="imgresponsive img-fluid" alt=""><img src='+obj.ProductThumbnail+' class="img-responsive img-fluid" style="width;200px; height:200px;" alt=""></div><div class="thumb-content"><h4 class="myh4" style="height:40px; overflow:hidden;">'+obj.ProductName+'</h4>  <p class="myp m-0 p-0" style="overflow:hidden; height:35px; font-size:10px !important;">'+obj.ProductThumbnail+'</p> <p class="item-price mb-0 pb-1"><strike>$400.00</strike><span>'+obj.UnitPrice+'</span></p>'

                                            +'<a href="#" class="btn btn-primary">Add to Cart</a></div></div></div>')
                    })
                }
            })
        }
    })
                            </script>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
