/* for social media button */

.kpx_login .kpx_authTitle {
    text-align: center;
    line-height: 300%;
}
    
.kpx_login .kpx_socialButtons a {
    color: white; // In yourUse @body-bg 
	opacity:0.9;
}
.kpx_login .kpx_socialButtons a:hover {
    color: white;
	opacity:1;    	
}

.kpx_login .kpx_socialButtons .kpx_btn-facebook {background: #3b5998; -webkit-transition: all 0.5s ease-in-out;
     -moz-transition: all 0.5s ease-in-out;
       -o-transition: all 0.5s ease-in-out;
          transition: all 0.5s ease-in-out;}
.kpx_login .kpx_socialButtons .kpx_btn-facebook:hover {background: #172d5e}
.kpx_login .kpx_socialButtons .kpx_btn-facebook:focus {background: #fff; color:#3b5998; border-color: #3b5998;}

.kpx_login .kpx_socialButtons .kpx_btn-twitter {background: #00aced; -webkit-transition: all 0.5s ease-in-out;
     -moz-transition: all 0.5s ease-in-out;
       -o-transition: all 0.5s ease-in-out;
          transition: all 0.5s ease-in-out;}
.kpx_login .kpx_socialButtons .kpx_btn-twitter:hover {background: #043d52}
.kpx_login .kpx_socialButtons .kpx_btn-twitter:focus {background: #fff; color:#00aced; border-color: #00aced;}

.kpx_login .kpx_socialButtons .kpx_btn-google-plus {background: #c32f10; -webkit-transition: all 0.5s ease-in-out;
     -moz-transition: all 0.5s ease-in-out;
       -o-transition: all 0.5s ease-in-out;
          transition: all 0.5s ease-in-out;}
.kpx_login .kpx_socialButtons .kpx_btn-google-plus:hover {background: #6b1301}
.kpx_login .kpx_socialButtons .kpx_btn-google-plus:focus {background: #fff; color: #c32f10; border-color: #c32f10}

.kpx_login .kpx_socialButtons .kpx_btn-soundcloud {background: #ff8800; -webkit-transition: all 0.5s ease-in-out;
     -moz-transition: all 0.5s ease-in-out;
       -o-transition: all 0.5s ease-in-out;
          transition: all 0.5s ease-in-out;}
.kpx_login .kpx_socialButtons .kpx_btn-soundcloud:hover {background: #c73e04}
.kpx_login .kpx_socialButtons .kpx_btn-soundcloud:focus {background: #fff; color: #ff8800; border-color:#ff8800}

.kpx_login .kpx_socialButtons .kpx_btn-github {background: #666666; -webkit-transition: all 0.5s ease-in-out;
     -moz-transition: all 0.5s ease-in-out;
       -o-transition: all 0.5s ease-in-out;
          transition: all 0.5s ease-in-out;}
.kpx_login .kpx_socialButtons .kpx_btn-github:hover {background: #333333}
.kpx_login .kpx_socialButtons .kpx_btn-github:focus {background: #fff; color : #666666; border-color: #666666}

.kpx_login .kpx_socialButtons .kpx_btn-steam {background: #878787; -webkit-transition: all 0.5s ease-in-out;
     -moz-transition: all 0.5s ease-in-out;
       -o-transition: all 0.5s ease-in-out;
          transition: all 0.5s ease-in-out;}
.kpx_login .kpx_socialButtons .kpx_btn-steam:hover {background: #292929}
.kpx_login .kpx_socialButtons .kpx_btn-steam:focus {background: #fff; color : #878787; border-color: #878787}

.kpx_login .kpx_socialButtons .kpx_btn-pinterest {background: #cc2127; -webkit-transition: all 0.5s ease-in-out;
     -moz-transition: all 0.5s ease-in-out;
       -o-transition: all 0.5s ease-in-out;
          transition: all 0.5s ease-in-out;}
.kpx_login .kpx_socialButtons .kpx_btn-pinterest:hover {background: #780004}
.kpx_login .kpx_socialButtons .kpx_btn-pinterest:focus {background: #fff; color: #cc2127; border-color: #cc2127}

.kpx_login .kpx_socialButtons .kpx_btn-vimeo {background: #1ab7ea; -webkit-transition: all 0.5s ease-in-out;
     -moz-transition: all 0.5s ease-in-out;
       -o-transition: all 0.5s ease-in-out;
          transition: all 0.5s ease-in-out;}
.kpx_login .kpx_socialButtons .kpx_btn-vimeo:hover {background: #162221}
.kpx_login .kpx_socialButtons .kpx_btn-vimeo:focus {background: #fff; color: #1ab7ea;border-color: #1ab7ea}

.kpx_login .kpx_socialButtons .kpx_btn-lastfm {background: #c3000d; -webkit-transition: all 0.5s ease-in-out;
     -moz-transition: all 0.5s ease-in-out;
       -o-transition: all 0.5s ease-in-out;
          transition: all 0.5s ease-in-out;}
.kpx_login .kpx_socialButtons .kpx_btn-lastfm:hover {background: #5e0208}
.kpx_login .kpx_socialButtons .kpx_btn-lastfm:focus {background: #fff; color: #c3000d; border-color: #c3000d}

.kpx_login .kpx_socialButtons .kpx_btn-yahoo {background: #400191; -webkit-transition: all 0.5s ease-in-out;
     -moz-transition: all 0.5s ease-in-out;
       -o-transition: all 0.5s ease-in-out;
          transition: all 0.5s ease-in-out;}
.kpx_login .kpx_socialButtons .kpx_btn-yahoo:hover {background: #230052}
.kpx_login .kpx_socialButtons .kpx_btn-yahoo:focus {background: #fff; color: #400191; border-color: #400191}

.kpx_login .kpx_socialButtons .kpx_btn-vk {background: #45668e; -webkit-transition: all 0.5s ease-in-out;
     -moz-transition: all 0.5s ease-in-out;
       -o-transition: all 0.5s ease-in-out;
          transition: all 0.5s ease-in-out;}
.kpx_login .kpx_socialButtons .kpx_btn-vk:hover {background: #1a3352}
.kpx_login .kpx_socialButtons .kpx_btn-vk:focus {background: #fff; color: #45668e; border-color: #45668e}

.kpx_login .kpx_socialButtons .kpx_btn-spotify {background: #7ab800; -webkit-transition: all 0.5s ease-in-out;
     -moz-transition: all 0.5s ease-in-out;
       -o-transition: all 0.5s ease-in-out;
          transition: all 0.5s ease-in-out;}
.kpx_login .kpx_socialButtons .kpx_btn-spotify:hover {background: #3a5700}
.kpx_login .kpx_socialButtons .kpx_btn-spotify:focus {background: #fff; color: #7ab800; border-color: #7ab800}

.kpx_login .kpx_socialButtons .kpx_btn-linkedin {background: #0976b4; -webkit-transition: all 0.5s ease-in-out;
     -moz-transition: all 0.5s ease-in-out;
       -o-transition: all 0.5s ease-in-out;
          transition: all 0.5s ease-in-out;}
.kpx_login .kpx_socialButtons .kpx_btn-linkedin:hover {background: #004269}
.kpx_login .kpx_socialButtons .kpx_btn-linkedin:focus {background: #fff; color: #0976b4; border-color: #0976b4}

.kpx_login .kpx_socialButtons .kpx_btn-stumbleupon {background: #eb4924; -webkit-transition: all 0.5s ease-in-out;
     -moz-transition: all 0.5s ease-in-out;
       -o-transition: all 0.5s ease-in-out;
          transition: all 0.5s ease-in-out;}
.kpx_login .kpx_socialButtons .kpx_btn-stumbleupon:hover {background: #943019}
.kpx_login .kpx_socialButtons .kpx_btn-stumbleupon:focus {background: #fff; color: #eb4924; border-color: #eb4924}

.kpx_login .kpx_socialButtons .kpx_btn-tumblr {background: #35465c; -webkit-transition: all 0.5s ease-in-out;
     -moz-transition: all 0.5s ease-in-out;
       -o-transition: all 0.5s ease-in-out;
          transition: all 0.5s ease-in-out;}
.kpx_login .kpx_socialButtons .kpx_btn-tumblr:hover {background: #142030}
.kpx_login .kpx_socialButtons .kpx_btn-tumblr:focus {background: #fff; color: #35465c; border-color: #35465c}


.kpx_login .kpx_loginOr {
	position: relative;
	font-size: 1.5em;
	color: #aaa;
	margin-top: 1em;
	margin-bottom: 1em;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}
.kpx_login .kpx_loginOr .kpx_hrOr {
	background-color: #cdcdcd;
	height: 1px;
	margin-top: 0px !important;
	margin-bottom: 0px !important;
}
.kpx_login .kpx_loginOr .kpx_spanOr {
	display: block;
	position: absolute;
	left: 50%;
	top: -0.6em;
	margin-left: -1.5em;
	background-color: white;
	width: 3em;
	text-align: center;
}			

.kpx_login .kpx_loginForm .input-group.i {
	width: 2em;
}
.kpx_login .kpx_loginForm  .help-block {
    color: red;
}

	
@media (min-width: 768px) {
    .kpx_login .kpx_forgotPwd {
        text-align: right;
		margin-top:10px;
 	}		
}


/* product slider arrow colour black
 */
.carousel-control-next, .carousel-control-prev {
	color: black;
}
.carousel-control-next, .carousel-control-prev:hover {
	color: black;
}


/* for star rating web */
.list-inline-item:not(:last-child) {
     margin-right:0;
}

/* for nav3 */ 


	
.dm-menu_border>ul {
border-bottom: 5px solid white;
}
.dm-menu {
	background:white;
}

.dm-menu {
    --dm-item-hover-bg: #000;
    --dm-item-hover-color: #eee;
}


/* for Product Slider Start */

.carousel {
	width:100%;
	margin: 0 auto;
	padding: 0 70px;
}
.carousel .item {
	min-height: 330px;
    text-align: center;
	overflow: hidden;
}
.carousel .item .img-box {
	height: 160px;
	width: 100%;
	position: relative;
}
.carousel .item img {	
	max-width: 100%;
	max-height: 100%;

	display: inline-block;
	position: absolute;
	bottom: 0;
	margin: 0 auto;
	left: 0;
	right: 0;
}
.carousel .item h4 {
	font-size: 18px;
	margin: 10px 0;
}
.carousel .item .btn {
	color: #333;
    border-radius: 0;
    font-size: 11px;
    text-transform: uppercase;
    font-weight: bold;
    background: none;
    border: 1px solid #ccc;
    padding: 5px 10px;
    margin-top: 5px;
    line-height: 16px;
}
.carousel .item .btn:hover, .carousel .item .btn:focus {
	color: #fff;
	background: #000;
	border-color: #000;
	box-shadow: none;
}
.carousel .item .btn i {
	font-size: 14px;
    font-weight: bold;
    margin-left: 5px;
}
.carousel .thumb-wrapper {
	text-align: center;
}
.carousel .thumb-content {
	padding: 15px;
}
.carousel .carousel-control {
	height: 100px;
    width: 40px;
    background: none;
    margin: auto 0;
    
}
.carousel .carousel-control i {
    font-size: 90px;
    position: absolute;
    top: 50%;
    display: inline-block;
    margin: -16px 0 0 0;
    z-index: 5;
    left: 0;
    right: 0;
    color:black;
    text-shadow: none;
    font-weight: bold;
}
.carousel .item-price {
	font-size: 13px;
	padding: 2px 0;
}
.carousel .item-price strike {
	color: #999;
	margin-right: 5px;
}
.carousel .item-price span {
	color: #86bd57;
	font-size: 110%;
}
.carousel .carousel-control.left i {
	margin-left: -3px;
}
.carousel .carousel-control.left i {
	margin-right: -3px;
}
.carousel .carousel-indicators {
	bottom: -50px;
}


.star-rating li {
	padding: 0;
}
.star-rating i {
	font-size: 14px;
	color: #ffc000;
}

/* Product Slider end */




.beautiful a {
	font-weight:bold;
	font-size:14px;
}

.beautiful2 a {
	font-weight:normal;
	font-size:14px;
}

/* for shop menu */


.dropdown .dropdown-menu .dropdown .dropdown-menu {display: none; display}
.dropdown .dropdown-menu .dropdown:hover .dropdown-menu {display:inline-block;}


/* for box shadow none */
.navbar {
	box-shadow:none !important;
}
.divider-vertical {
    height: auto     ;
    margin: 0 9px;
    border-left: 2px solid #F2F2F2;
    border-right: 2px solid #FFF;
}
.basket {
  color:black;
 margin:-20px 0;
  width:400px !important;
    height: auto;
	padding-left:20px;
}
.greyborder {
    border: 2px solid #D3D3D3 !important;
}
.myScroll {
    height: 250px;
    overflow-y: scroll;
}


.basketitem a {
    font-weight: bold;
}

.basketitem p {
    font-size: 12px;
    color: black;
    margin: 0;
    padding: 0;
}


.myp {
    font-size: 14px !important;
    color: black;
    margin: 0 !important;
    padding: 0 !important;
}
.myh4 {
    font-size: 14px;
    color: black;
    font-weight: bold;
}

.myh1 {
    font-size: 20px;
    color: black;
    font-weight: bold;
}

.myh3 {
    font-size: 16px;
    color: black;
    font-weight: bold;
}

.basket p {
	
	font-size:15px;
}

a { 
text-decoration: none; 
} 
a:hover { 
text-decoration: underline !important; 
}

body {background:white !important; }
.border {
	border: 3px solid black !important;
}
.nav3 {
	
	margin:0;
	padding:0;
	background:white;
}
.nav1 {
	
	margin:0;
	padding:0;
}
.nav2 {
	
	margin:0;
	padding:0;
}

.wrapper {
	
	width:80%;
	margin:0 auto;
	padding:0;
	
}
.menu-large {
  position: static !important;
}

.megamenu {
  padding: 20px 20px;
  width: 100%;
 
 
}

.megamenu > div > li > ul {
  padding: 0;
  margin: 0;
}

.megamenu > div > li > ul > li {
  list-style: none;
}

.megamenu > div > li > ul > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.428571429;
  color: #333333;
  white-space: normal;
}

.megamenu > div > li > ul > li > a:hover,
.megamenu > div > li > ul > li > a:focus {
  text-decoration: none;
  color: #262626;
  background-color: #f5f5f5;
}

.megamenu.disabled > a,
.megamenu.disabled > a:hover,
.megamenu.disabled > a:focus {
  color: #999999;
}

.megamenu.disabled > a:hover,
.megamenu.disabled > a:focus {
  text-decoration: none;
  background-color: transparent;
  background-image: none;
  filter: progid: DXImageTransform.Microsoft.gradient(enabled=false);
  cursor: not-allowed;
}

.megamenu.dropdown-header {
  color: #428bca;
  font-size: 18px;
}

@media (max-width: 768px) {
  .megamenu {
    margin-left: 0;
    margin-right: 0;
  }
  .megamenu > li {
    margin-bottom: 30px;
  }
  .megamenu > li:last-child {
    margin-bottom: 0;
  }
  .megamenu.dropdown-header {
    padding: 3px 15px !important;
  }
  .navbar-nav .open .dropdown-menu .dropdown-header {
    color: #fff;
  }
}



/* CSS Document for MegaMenu*/
.mega-menu{min-width: 900px; overflow: hidden; padding: 10px; border:1px solid black;}
.mega-menu a{text-decoration: none; color: cadetblue;}
.mega-menu .sub-menu-heading{ color: darkcyan;}
@media(max-width:500px){
	.mega-menu{width: 300px;}
	.mega-menu {}
}

.dropbtn {
  background-color: white;
  color: black;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown .dropdown-menu .dropdown .dropdown-menu {display: none;}
.dropdown .dropdown-menu .dropdown:hover .dropdown-menu {display: block;}
.dropdown:hover .dropbtn {background-color: white;}

.dropdown:hover .dropdown-menu {display: block;}


.zero {
	
	margin:0;
	padding:0;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

	.mysidebar {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.myslider {
	diplay:none;
	
}

.mysidebar {
  z-index: 10;
}
.nav1 {
	
	
}	
	
	.nav2 {
	
	
}	
.nav3 {

	
}	
	
} 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
		.mysidebar {
		
		
	}
} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
		.mysidebar {
		

	}
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
	
		.mysidebar {
		
	}
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {...}




/*
    DEMO STYLE
*/

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}







.navtop ul li a {
	
	background:black !important;
	color:white !important;
	padding-right:5%;
}

.navtop ul li {
	
}
.navtop {
	
	background:black !important;
	
}
.navtop {
	font-size:0.75rem;
}

.iblack {
	
	background:white;
	color:black;
}

.black {
	
	background:black;
	color:white;
	
}
.black:hover {
	
	background:black;
	color:white;
	
}

.black div ul li a {
	
	
	color:white;
	
}

.black div a {
	
	
	color:white;
	
}
.black div h5 {
	
	
	color:white;
	
}

.padding {
padding-top:5%;
	
}



.navbar-toggle {
        display: none !important;
    }




/* Make the image fully responsive */
  .carousel-inner img {
      width: 100%;
      height: 100%;
  }

/* quick veiw */
.img-thumbnail {
    
}

span a {
    display: none;
    position: absolute;
    background: black;
    color: white;
    margin-top: -100px;
  
    font-size: 20px;
}

    span a:hover {
        background: black;
        color: white;
    }


.thumb-wrapper:hover span a {
    display: block;
}







/*--- Firefox Bug Fix --*/



.carousel-item {
	transition: -webkit-transform 0.5s ease;
	transition: transform 0.5s ease;
	transition: transform 0.5s ease, -webkit-tranform 0.5s ease;
	-webkit-backfae-visibility: visible;
	backface-visibility: visible;
}
/*-- Fixed Background Image --*/
figure {
	position: relative;
	width: 100%;
	height: 60%;
	margin: 0 !important;
}
.fixed-wrap {
	clip: rect(0, auto, auto, 0);
	position: absolute;
	top:0;
	left: 0;
	width: 100%;
	height: 100%;
}

#fixed {
	background-image: url('img/mac.png');
	position: fixed;
	display: block;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: center center;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	will-change: transform;
}
/*-- Bootstrap paddin fix --*/
[class*="col-"]
{padding: 1rem;
}

/*
Extra small (xs) divices (portrati phones, less than 576px)
No media query since this is the default in Bootstrap
Small (sm) divices (Landscape phones, 576px and up)
@media (min-width: 576px) {
	
}

Mediam (md) divices (tablets, 768px and up)
@media (min-width: 768px) {
	
}

Large (lg) divices (desktops, 992px and up)
@media (min-width: 992px) {
	
}

Extra (xl) divices ( Large desktops, 1200px and up)
@media (min-width: 1200px) {
	
}
*/




























