﻿
<!DOCTYPE html>
<html lang="en">
<head>

    <!--   font awsome -->
    <script src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    <!-- for owl Carousel -->
    <!-- Stylesheets -->
    <link href='https://fonts.googleapis.com/CSS?family=Lato:300,400,700,400italic,300italic' rel='stylesheet' type='text/CSS'>
    <link rel="stylesheet" href="css/docs.theme.min.css">

    <!-- javascript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Stylesheets -->
    <link href='https://fonts.googleapis.com/CSS?family=Lato:300,400,700,400italic,300italic' rel='stylesheet' type='text/CSS'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.css">

    <!-- Owl Stylesheets -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css">

    <!-- javascript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>

    @*for remove button and alert*@
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="~/Content/jquery.unobtrusive-ajax.min.js"></script>



    <!-- for product Slider -->
    <script type="text/javascript" src="~/Content/mobile/js/owl.carousel.js"></script>

    <script type="text/javascript" src="~/Content/Mobile/js/owl.carousel.js"></script>

    <link rel="stylesheet" href="~/Content/mobile/CSS/owl.carousel.css">
    <link rel="stylesheet" href="~/Content/mobile/CSS/owl.theme.default.css">




    <!-- Online Connected -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="~/Content/mobile/my.js"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="~/Content/mobile/CSS/bootstrap.min.css">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="~/Content/mobile/CSS/stylesheet.css">


    <link type="text/CSS" rel="stylesheet" href="~/Content/mobile/CSS/demo.css" />
    <link type="text/CSS" rel="stylesheet" href="~/Content/mobile/CSS/jquery.mmenu.css" />


    <script type="text/javascript" src="~/Content/mobile/js/jquery.mmenu.js"></script>



    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">



    <link rel="stylesheet" href="~/Content/mobile/fa/CSS/all.css">
    <link rel="stylesheet" href="~/Content/mobile/style.css">

    <script type"text/javascript">
    $(function() {
    $('nav#menu').mmenu();
    });
    </script>

</head>


<body>

    <div class="container-fluid m-0 p-0">
        <img src="~/Content/mobile/Images/bannertop.jpg" class="mx-auto d-block" style="width:100%">

    </div>

    <div id="page" class="sticky-top">


        <div class=" iblack">




            <div class="row ml-1">


                <div class="pt-2 pl-2">
                    <a href="#menu" class=""> <i class="fas fa-lg fa-align-justify"></i> <span>  </span></a>
                    <button onclick="myFunction()" class="btn">
                        <a href="#" class=""> <i class="fa fa-lg fa-search" aria-hidden="true"></i> <span>  </span></a>
                    </button>



                </div>


                <img src="~/Content/mobile/Images/bazarka.jpg" class="mx-auto d-block">


                <div class="mr-4 pt-3">

                    <a href="" class="btn btn-default btn-rounded" data-toggle="modal" data-target="#modalLRForm">
                        <i class="fa fa-lg fa-female" aria-hidden="true"></i>
                    </a>


                    <a href="#" class=""> <i class="fas fa-lg fa-shopping-basket"></i> <span>  </span></a>





                </div>


            </div>

            <form class="navbar-form">
                <div class="form-group" style="display:inline;" id="myDIV">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search">

                    </div>
                </div>
            </form>

            <script>
                function myFunction() {
                    var x = document.getElementById("myDIV");
                    if (x.style.display === "none") {
                        x.style.display = "block";
                    } else {
                        x.style.display = "none";
                    }
                }
            </script>


        </div>



    </div>


    <!--Modal: Login / Register Form-->
    <div class="modal fade" id="modalLRForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog cascading-modal" role="document">
            <!--Content-->
            <div class="modal-content">
                <!--Modal cascading tabs-->
                <div class="modal-c-tabs">

                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs md-tabs tabs-2 light-blue darken-3" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#panel7" role="tab">
                                <i class="fas fa-user mr-1"></i>
                                Login
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#panel8" role="tab">
                                <i class="fas fa-user-plus mr-1"></i>
                                Sign Up
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#panel9" role="tab">
                                <i class="fas fa-user-plus mr-1"></i>
                                Sign Up GO!
                            </a>
                        </li>
                    </ul>

                    <!-- Tab panels -->
                    <div class="tab-content">
                        <!--Panel 7-->
                        <div class="tab-pane fade in show active" id="panel7" role="tabpanel">

                            <!--Body-->
                            <div class="modal-body mb-1">

                                <div class="kpx_login">
                                    <h3 class="kpx_authTitle">Login or <a href="#">Sign up</a></h3>
                                    <div class="row kpx_row-sm-offset-3 kpx_socialButtons">
                                        <div class="col-xs-12 col-sm-12">
                                            <a href="#" class="btn btn-lg btn-block kpx_btn-facebook" data-toggle="tooltip" data-placement="top" title="Facebook">
                                                <i class="fab fa-2x fa-facebook-square float-left"></i> Login with Facebook
                                                <span class="hidden-xs"></span>
                                            </a>
                                        </div>
                                        <div class="col-xs-12 col-sm-12">
                                            <a href="#" class="btn btn-lg btn-block kpx_btn-twitter" data-toggle="tooltip" data-placement="top" title="Twitter">
                                                <i class="fab fa-2x fa-twitter-square float-left"></i> Login with Twitter
                                                <span class="hidden-xs"></span>
                                            </a>
                                        </div>
                                        <div class="col-xs-12 col-sm-12">
                                            <a href="#" class="btn btn-lg btn-block kpx_btn-google-plus" data-toggle="tooltip" data-placement="top" title="Google Plus">
                                                <i class="fab fa-2x fa-google-plus-square float-left"></i> Login with Google
                                                <span class="hidden-xs"></span>
                                            </a>
                                        </div>
                                    </div>
                                </div>


                                <div class="md-form form-sm">
                                    <i class="fas fa-envelope prefix"></i>
                                    <input type="email" id="modalLRInput10" class="form-control form-control-sm validate">
                                    <label data-error="wrong" data-success="right" for="modalLRInput10">Your email</label>
                                </div>

                                <div class="md-form form-sm">
                                    <i class="fas fa-lock prefix"></i>
                                    <input type="password" id="modalLRInput11" class="form-control form-control-sm validate">
                                    <label data-error="wrong" data-success="right" for="modalLRInput11">Your password</label>
                                </div>
                                <div class="text-center mt-2">
                                    <button class="btn btn-dark">Log in </button>
                                </div>

                            </div>
                            <!--Footer-->
                            <div class="modal-footer">
                                <div class="options text-center text-md-right mt-1">
                                    <p>Not a member? <a href="#" class="blue-text">Sign Up</a></p>
                                    <p>Forgot <a href="#" class="blue-text">Password?</a></p>
                                </div>
                                <button type="button" class="btn btn-outline-info waves-effect ml-auto" data-dismiss="modal">Close</button>
                            </div>

                        </div>
                        <!--/.Panel 7-->
                        <!--Panel 8-->
                        <div class="tab-pane fade" id="panel8" role="tabpanel">

                            <!--Body-->
                            <div class="modal-body">
                                <div class="md-form form-sm">
                                    <i class="fas fa-envelope prefix"></i>
                                    <input type="email" id="modalLRInput12" class="form-control form-control-sm validate">
                                    <label data-error="wrong" data-success="right" for="modalLRInput12">Your email</label>
                                </div>

                                <div class="md-form form-sm">
                                    <i class="fas fa-lock prefix"></i>
                                    <input type="password" id="modalLRInput13" class="form-control form-control-sm validate">
                                    <label data-error="wrong" data-success="right" for="modalLRInput13">Your password</label>
                                </div>

                                <div class="md-form form-sm">
                                    <i class="fas fa-lock prefix"></i>
                                    <input type="password" id="modalLRInput14" class="form-control form-control-sm validate">
                                    <label data-error="wrong" data-success="right" for="modalLRInput14">Repeat password</label>

                                </div>

                                <div class="md-form form-sm">
                                    <i class="fas fa-mobile-alt"></i>
                                    <input type="email" id="modalLRInput12" class="form-control form-control-sm validate">
                                    <label data-error="wrong" data-success="right" for="modalLRInput12">Your Mobile # </label>
                                </div>

                                <div class="form-group">
                                    <i class="fas fa-calendar-check"></i>
                                    <input type="date" class="form-control" id="exampleInputDOB1" placeholder="Date of Birth">
                                    <label>Date of Birth</label>
                                </div>

                                <div class="text-center form-sm mt-2">
                                    <button class="btn btn-dark">Sign up </button>
                                </div>

                            </div>
                            <!--Footer-->
                            <div class="modal-footer">
                                <div class="options text-right">
                                    <p class="pt-1">Already have an account? <a href="#" class="blue-text">Log In</a></p>
                                </div>
                                <button type="button" class="btn btn-outline-info waves-effect ml-auto" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                        <!--/.Panel 8-->
                        <!--Panel 9-->
                        <div class="tab-pane fade" id="panel9" role="tabpanel">

                            <!--Body-->
                            <div class="modal-body">
                                <div class="md-form form-sm">
                                    <i class="fas fa-mobile-alt"></i>
                                    <input type="email" id="modalLRInput12" class="form-control form-control-sm validate">
                                    <label data-error="wrong" data-success="right" for="modalLRInput12">Your Mobile # </label>
                                </div>









                                <div class="text-center form-sm mt-2">
                                    <button class="btn btn-dark">Sign up </button>
                                </div>

                            </div>
                            <!--Footer-->
                            <div class="modal-footer">
                                <div class="options text-right">
                                    <p class="pt-1">Already have an account? <a href="#" class="blue-text">Log In</a></p>
                                </div>
                                <button type="button" class="btn btn-outline-info waves-effect ml-auto" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                        <!--/.Panel 9-->

                    </div>
                </div>
            </div>
            <!--/.Content-->
        </div>
    </div>
    <!--Modal: Login / Register Form-->
    @RenderBody();

    <!-- Footer -->
    <footer class="page-footer font-small black">

        <!-- Footer Links -->
        <div class="container">

            <!-- Grid row -->
            <div class="row black">

                <!-- Grid column -->
                <div class="col-md-6 col-sm-12 col-12 black  myfooter">

                    <!-- Links -->
                    <a class="btn btn-dark" data-toggle="collapse" href="#footer1" role="button" aria-expanded="false" aria-controls="collapseExample">
                        <i class="fa fa-bars"></i>
                        About Sephora
                    </a>

                    <div class="collapse" id="footer1">

                        <ul class="list-unstyled">

                            <li>
                                <a href="#!">About Sephora</a>
                            </li>
                            <li>
                                <a href="#!">Careers</a>
                            </li>
                            <li>
                                <a href="#!">Sephora Stands Social Impact</a>
                            </li>
                            <li>
                                <a href="#!">VAffiliates</a>
                            </li>
                            <li>
                                <a href="#!">Supply Chain Transparency</a>
                            </li>
                            <li>
                                <a href="#!">Sitemap</a>
                            </li>
                            <li>
                                <a href="#!">Sephora Global Sites</a>
                            </li>
                        </ul>

                    </div>


                </div>

                <!-- Grid column -->
                <div class="col-md-6 col-sm-12 col-12 black myfooter">

                    <!-- Links -->
                    <a class="btn btn-dark" data-toggle="collapse" href="#footer2" role="button" aria-expanded="false" aria-controls="collapseExample">
                        <i class="fa fa-bars"></i>
                        My Sephora
                    </a>

                    <div class="collapse" id="footer2">

                        <ul class="list-unstyled">

                            <li>
                                <a href="#!">About Sephora</a>
                            </li>
                            <li>
                                <a href="#!">Careers</a>
                            </li>
                            <li>
                                <a href="#!">Sephora Stands Social Impact</a>
                            </li>
                            <li>
                                <a href="#!">VAffiliates</a>
                            </li>
                            <li>
                                <a href="#!">Supply Chain Transparency</a>
                            </li>
                            <li>
                                <a href="#!">Sitemap</a>
                            </li>
                            <li>
                                <a href="#!">Sephora Global Sites</a>
                            </li>
                        </ul>

                    </div>


                </div>

                <!-- Grid column -->
                <div class="col-md-6 col-sm-12 col-12 black myfooter">

                    <!-- Links -->
                    <a class="btn btn-dark" data-toggle="collapse" href="#footer3" role="button" aria-expanded="false" aria-controls="collapseExample">
                        <i class="fa fa-bars"></i>
                        Help & FAQs
                    </a>

                    <div class="collapse" id="footer3">

                        <ul class="list-unstyled">

                            <li>
                                <a href="#!">About Sephora</a>
                            </li>
                            <li>
                                <a href="#!">Careers</a>
                            </li>
                            <li>
                                <a href="#!">Sephora Stands Social Impact</a>
                            </li>
                            <li>
                                <a href="#!">VAffiliates</a>
                            </li>
                            <li>
                                <a href="#!">Supply Chain Transparency</a>
                            </li>
                            <li>
                                <a href="#!">Sitemap</a>
                            </li>
                            <li>
                                <a href="#!">Sephora Global Sites</a>
                            </li>
                        </ul>

                    </div>


                </div>

                <!-- Grid column -->
                <div class="col-md-6 col-sm-12 col-12 black myfooter">

                    <!-- Links -->
                    <a class="btn btn-dark" data-toggle="collapse" href="#footer4" role="button" aria-expanded="false" aria-controls="collapseExample">
                        <i class="fa fa-bars"></i>
                        Ways to shop
                    </a>

                    <div class="collapse" id="footer4">

                        <ul class="list-unstyled">

                            <li>
                                <a href="#!">About Sephora</a>
                            </li>
                            <li>
                                <a href="#!">Careers</a>
                            </li>
                            <li>
                                <a href="#!">Sephora Stands Social Impact</a>
                            </li>
                            <li>
                                <a href="#!">VAffiliates</a>
                            </li>
                            <li>
                                <a href="#!">Supply Chain Transparency</a>
                            </li>
                            <li>
                                <a href="#!">Sitemap</a>
                            </li>
                            <li>
                                <a href="#!">Sephora Global Sites</a>
                            </li>
                        </ul>

                    </div>


                </div>
                <hr style="background:grey;">


                <div class="black">
                    <p style="color:white; font-size:15px;">Sign up for Sephora Emails  </p>


                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Email Address">
                        <div class="input-group-append">
                            <a href="#"> <button class="btn btn-secondary black" type="button"> </a>
                            <i class="fas fa-chevron-right black"></i>
                            </button>
                        </div>
                    </div>


                    <div class="container mt-3">
                        <ul class="nav justify-content-center black">
                            <li class="nav-item">
                                <a href="#" class="nav-link"> <i class="fab fa-facebook-f"></i> </a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link"> <i class="fab fa-twitter-square"></i> </a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link"> <i class="fab fa-instagram"></i> </a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link"> <i class="fab fa-youtube-square"></i> </a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link"> <i class="fab fa-pinterest"></i> </a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link"> <i class="fab fa-google-plus-square"></i> </a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link"> <i class="fab fa-tumblr-square"></i></a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link"> <i class="fas fa-th"></i> </a>
                            </li>
                        </ul>

                    </div>

                </div>
                <!-- Footer Links -->
                <!-- Copyright -->
                <div class="footer-copyright text-center py-3 myfooter">
                    <ul>
                        <a href="#"> Copyright © 2019 Sephora USA, Inc. All rights reserved. </a>

                </div>
                <!-- Copyright -->

    </footer>
    <!-- Footer -->


    <nav id="menu" class="">


        <ul>
            <li> <a href="#"> Home </a> </li>

            <li>
                <span> Shop  </span>

                <ul>

                    <li>
                        <span> Makeup </span>


                        <ul>

                            <li> <a href="menupages/justarrived.html"> Just Arrived </a>  </li>
                            <li> <a href="#"> Bestsellers </a>  </li>
                            <li> <a href="#"> Value & Gift Sets </a>  </li>
                            <li> <a href="#"> Mini Size </a>  </li>
                            <li> <a href="#">Makeup Palettes </a>  </li>

                            <li>
                                <span>Face </span>

                                <ul>
                                    <li> <a href="#"> Foundation </a>  </li>
                                    <li> <a href="#"> BB & CC Cream </a>  </li>
                                    <li> <a href="#"> Tinted Moisturizer </a>  </li>
                                    <li> <a href="#">Concealer</a>  </li>
                                    <li> <a href="#">Face Primer </a>  </li>

                                </ul>
                            </li>
                        </ul>
                    </li>

                    <li> <a> Skincare </a>  </li>
                    <li>  <a> Hair </a> </li>
                    <li>  <a> Tools & Brushes </a> </li>
                    <li> <a> Fragrance  </a> </li>

                </ul>
            </li>

            <li>
                <span> New  </span>
                <ul>

                    <li>
                        <span> Makeup </span>


                        <ul>

                            <li> <a href="#"> Just Arrived </a>  </li>
                            <li> <a href="#"> Bestsellers </a>  </li>
                            <li> <a href="#"> Value & Gift Sets </a>  </li>
                            <li> <a href="#"> Mini Size </a>  </li>
                            <li> <a href="#">Makeup Palettes </a>  </li>



                            <li>
                                <span>Face </span>

                                <ul>
                                    <li> <a href="#"> Foundation </a>  </li>
                                    <li> <a href="#"> BB & CC Cream </a>  </li>
                                    <li> <a href="#"> Tinted Moisturizer </a>  </li>
                                    <li> <a href="#">Concealer</a>  </li>
                                    <li> <a href="#">Face Primer </a>  </li>


                                </ul>

                            </li>

                        </ul>

                    </li>

                    <li> <a> Skincare </a>  </li>
                    <li>  <a> Hair </a> </li>
                    <li>  <a> Tools & Brushes </a> </li>
                    <li> <a> Fragrance  </a> </li>

                </ul>
            </li>

            <li>
                <span> Gifts  </span>

                <ul>

                    <li>
                        <span> Makeup </span>


                        <ul>

                            <li> <a href="#"> Just Arrived </a>  </li>
                            <li> <a href="#"> Bestsellers </a>  </li>
                            <li> <a href="#"> Value & Gift Sets </a>  </li>
                            <li> <a href="#"> Mini Size </a>  </li>
                            <li> <a href="#">Makeup Palettes </a>  </li>



                            <li>
                                <span>Face </span>

                                <ul>
                                    <li> <a href="#"> Foundation </a>  </li>
                                    <li> <a href="#"> BB & CC Cream </a>  </li>
                                    <li> <a href="#"> Tinted Moisturizer </a>  </li>
                                    <li> <a href="#">Concealer</a>  </li>
                                    <li> <a href="#">Face Primer </a>  </li>


                                </ul>

                            </li>

                        </ul>

                    </li>

                    <li> <a> Skincare </a>  </li>
                    <li>  <a> Hair </a> </li>
                    <li>  <a> Tools & Brushes </a> </li>
                    <li> <a> Fragrance  </a> </li>

                </ul>
            </li>

            <li>
                <span> Brand  </span>

                <ul>

                    <li>
                        <span> Makeup </span>


                        <ul>

                            <li> <a href="#"> Just Arrived </a>  </li>
                            <li> <a href="#"> Bestsellers </a>  </li>
                            <li> <a href="#"> Value & Gift Sets </a>  </li>
                            <li> <a href="#"> Mini Size </a>  </li>
                            <li> <a href="#">Makeup Palettes </a>  </li>



                            <li>
                                <span>Face </span>

                                <ul>
                                    <li> <a href="#"> Foundation </a>  </li>
                                    <li> <a href="#"> BB & CC Cream </a>  </li>
                                    <li> <a href="#"> Tinted Moisturizer </a>  </li>
                                    <li> <a href="#">Concealer</a>  </li>
                                    <li> <a href="#">Face Primer </a>  </li>


                                </ul>

                            </li>

                        </ul>

                    </li>

                    <li> <a> Skincare </a>  </li>
                    <li>  <a> Hair </a> </li>
                    <li>  <a> Tools & Brushes </a> </li>
                    <li> <a> Fragrance  </a> </li>

                </ul>
            </li>

    </nav>
</body>
</html>