﻿<html lang="en">
<head>
    <link rel="stylesheet" href="~/Content/Desktop/CSS/demo.css" />
    <link rel="stylesheet" href="~/Content/Desktop/CSS/jquery.dmenu.css" />
    <style>
        .logo {
            width: 80px;
            margin-top: 10px;
        }

        .header-menu {
            padding-bottom: 10px;
        }

        .dm-menu {
            --dm-item-hover-bg: #889;
            --dm-item-hover-color: #eee;
        }
    </style>
    <script src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    <script src="http://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="~/Content/Desktop/js/jquery.dmenu.js"></script>
    @*<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>*@
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="~/Content/jquery.unobtrusive-ajax.min.js"></script>
    @*<script type="text/javascript">

            //if (screen.width < 800) {
            //    window.location = "mobile/index.html"
            //}
        </script>*@

    <!-- Online Connected 123 -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="my.js"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="~/Content/Desktop/CSS/bootstrap.min.css">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="~/Content/Desktop/CSS/stylesheet.css">


    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="~/Content/fa/css/all.css">
    <link rel="stylesheet" href="~/Content/Desktop/CSS/style.css">

    @*newly added scripts to resolve mega menu issue. these may have more then once declared.neeed to check*@

</head>
<body>
    <div class="container-fluid">
        <div class="d-flex justify-content-center"> <img src="~/Content/Desktop/images/bannertop.png" /></div>
    </div>
    <div class="nav1">
        <div class="container-fluid m-0 p-0">
            <nav class="nav navbar-expand-md navbar-dark bg-dark sticky-top col-lg-12 navtop m-0 p-0">
                <div class="wrapper">
                    <!-- Links -->
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
                        <i class="fas fa-ellipsis-v"></i>
                    </button>
                    <div class="collapse navbar-collapse mr-5 pr-5" id="navbarResponsive">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item active">
                                <a class="nav-link" href="#"> Reorder</i></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#"><i class="fas fa-truck mr-3"></i></i>Track Order </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#"><i class="fas fa-map-marker-alt white mr-3"></i>Find a Store</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#"><i class="fas fa-angle-down mr-3"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <!-- A grey horizontal navbar that becomes vertical on small screens -->
    <div class="nav2">
        <nav class="navbar navbar-expand-lg navbar-light m-0 p-0">
            <div class="wrapper">
                <button class="navbar-toggler" type="button" ata-toggle="collapse" data-target="#navbarResponsive">  </button>
                <div class="justify-content-center" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto justify-content-center">
                        <li class="nav-item pr-5 pt-3">
                            <div class="input-group md-form form-sm form-1">
                                <div class="input-group-prepend">
                                    <span class="input-group-text iblack" id="basic-text1">
                                        <i class="fas fa-search iblack"
                                           aria-hidden="true"></i>
                                    </span>
                                </div>
                                <input class="form-control my-0 py-1" type="text" placeholder="Search" aria-label="Search">
                            </div>
                        </li>
                        <li class="nav-item pl-5 ml-5 pr-5">
                            <a class="nav-link" href="#"><img src="~/Content/Desktop/images/bazarka.jpg"></i></a>
                        </li>
                        <li class="dropdown nav-item pl-5 ml-5 beautiful">
                            <a class="nav-link" data-toggle="dropdown">
                                <a> Hi, Beautiful </a> <i class="fas fa-caret-down"></i> <br>
                                <a href="" class="btn m-0 p-0" data-toggle="modal" data-target="#modalLRForm">
                                    Sign In
                                </a> or
                                <a href="" class="btn m-0 p-0" data-toggle="modal" data-target="#modalLRForm">
                                    Register
                                </a>
                                <div class="dropdown-menu dropdown-menu-right beautiful2" aria-labelledby="dropdownMenuLink">
                                    <a class="dropdown-item" href="#">Profile</a>
                                    <a class="dropdown-item" href="#">Beauty Insider</a>
                                    <a class="dropdown-item" href="#">Lists</a>
                                    <a class="dropdown-item" href="#">Account</a>
                                    <a class="dropdown-item" href="#">Orders</a>
                                    <a class="dropdown-item" href="#">Reservations</a>
                                    <a class="dropdown-item" href="#">Rewards Bazaar</a>
                                </div>
                        </li>
                        <li class="divider-vertical"></li>
                        <li class="nav-item">
                            <a class="nav-link data-toggle="tooltip" data-placement="bottom" title="Loves List" href="#"><i class="fas fa-heart fa-2x iblack"></i></a>
                        </li>
                        <a href="@Url.Action("Basket","Shop")">
                            <li class="nav-item dropdown" id="btCheckout">
                                <i class="fas fa-3x fa-shopping-basket iblack pt-1"></i>
                                <div class="dropdown-menu dropdown-menu-right basket" style="width:600px !important; min-height:150px; float:right">
                                    <div>
                                        @{
                                            Html.RenderAction("MiniBasket", "Shop");
                                        }
                                    </div>
                                    <div class="col-lg-4">
                                        <button type="button" class="btn btn-dark">View Basket</button>
                                    </div>
                                </div>
                            </li>
                        </a>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    </div>
    <!--Modal: Login / Register Form-->
    <div class="modal fade" id="modalLRForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog cascading-modal" role="document">
            <!--Content-->
            <div class="modal-content">
                <!--Modal cascading tabs-->
                <div class="modal-c-tabs">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs md-tabs tabs-2 light-blue darken-3" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#panel7" role="tab">
                                <i class="fas fa-user mr-1"></i>
                                Login
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#panel8" role="tab">
                                <i class="fas fa-user-plus mr-1"></i>
                                Sign Up
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#panel9" role="tab">
                                <i class="fas fa-user-plus mr-1"></i>
                                Sign Up GO!
                            </a>
                        </li>
                    </ul>

                    <!-- Tab panels -->
                    <div class="tab-content">
                        <!--Panel 7-->
                        <div class="tab-pane fade in show active" id="panel7" role="tabpanel">
                            <!--Body-->
                            <div class="modal-body mb-1">
                                <div class="kpx_login">
                                    <h3 class="kpx_authTitle">Login or <a href="#">Sign up</a></h3>
                                    <div class="row kpx_row-sm-offset-3 kpx_socialButtons">
                                        <div class="col-xs-12 col-sm-12">
                                            <a href="#" class="btn btn-lg btn-block kpx_btn-facebook" data-toggle="tooltip" data-placement="top" title="Facebook">
                                                <i class="fab fa-2x fa-facebook-square float-left"></i> Login with Facebook
                                                <span class="hidden-xs"></span>
                                            </a>
                                        </div>
                                        <div class="col-xs-12 col-sm-12">
                                            <a href="#" class="btn btn-lg btn-block kpx_btn-twitter" data-toggle="tooltip" data-placement="top" title="Twitter">
                                                <i class="fab fa-2x fa-twitter-square float-left"></i> Login with Twitter
                                                <span class="hidden-xs"></span>
                                            </a>
                                        </div>
                                        <div class="col-xs-12 col-sm-12">
                                            <a href="#" class="btn btn-lg btn-block kpx_btn-google-plus" data-toggle="tooltip" data-placement="top" title="Google Plus">
                                                <i class="fab fa-2x fa-google-plus-square float-left"></i> Login with Google
                                                <span class="hidden-xs"></span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="md-form form-sm">
                                    <i class="fas fa-envelope prefix"></i>
                                    <input type="email" id="modalLRInput10" class="form-control form-control-sm validate">
                                    <label data-error="wrong" data-success="right" for="modalLRInput10">Your email</label>
                                </div>
                                <div class="md-form form-sm">
                                    <i class="fas fa-lock prefix"></i>
                                    <input type="password" id="modalLRInput11" class="form-control form-control-sm validate">
                                    <label data-error="wrong" data-success="right" for="modalLRInput11">Your password</label>
                                </div>
                                <div class="text-center mt-2">
                                    <button class="btn btn-dark" id="#btlogin">Log in </button>
                                </div>
                            </div>
                            <!--Footer-->
                            <div class="modal-footer">
                                <div class="options text-center text-md-right mt-1">
                                    <p>Not a member? <a href="#" class="blue-text">Sign Up</a></p>
                                    <p>Forgot <a href="#" class="blue-text">Password?</a></p>
                                </div>
                                <button type="button" class="btn btn-outline-info waves-effect ml-auto" data-dismiss="modal">Close</button>
                            </div>

                        </div>
                        <!--/.Panel 7-->
                        <!--Panel 8-->
                        <div class="tab-pane fade" id="panel8" role="tabpanel">
                            <!--Body-->
                            <div class="modal-body">
                                <div class="md-form form-sm">
                                    <i class="fas fa-envelope prefix"></i>
                                    <input type="email" id="modalLRInput12" class="form-control form-control-sm validate">
                                    <label data-error="wrong" data-success="right" for="modalLRInput12">Your email</label>
                                </div>

                                <div class="md-form form-sm">
                                    <i class="fas fa-lock prefix"></i>
                                    <input type="password" id="modalLRInput13" class="form-control form-control-sm validate">
                                    <label data-error="wrong" data-success="right" for="modalLRInput13">Your password</label>
                                </div>

                                <div class="md-form form-sm">
                                    <i class="fas fa-lock prefix"></i>
                                    <input type="password" id="modalLRInput14" class="form-control form-control-sm validate">
                                    <label data-error="wrong" data-success="right" for="modalLRInput14">Repeat password</label>
                                </div>

                                <div class="md-form form-sm">
                                    <i class="fas fa-mobile-alt"></i>
                                    <input type="tel" id="modalLRInput15" class="form-control form-control-sm validate">
                                    <label data-error="wrong" data-success="right" for="modalLRInput12">Your Mobile # </label>
                                </div>

                                <div class="form-group">
                                    <i class="fas fa-calendar-check"></i>
                                    <input type="date" class="form-control" id="exampleInputDOB1" placeholder="Date of Birth">
                                    <label>Date of Birth</label>
                                </div>

                                <div class="text-center form-sm mt-2">
                                    <button class="btn btn-dark" id="btsignup">Sign up </button>
                                </div>
                                <script type="text/javascript">
                                    $('#btsignup').click(function () {

                                        var Email = $('#modalLRInput12').val();
                                        var Password = $('#modalLRInput13').val();
                                        var ConfPwd = $('#modalLRInput14').val();
                                        var DOB = $('#exampleInputDOB1').val().toString();
                                        var CellNum = $('#modalLRInput15').val();
                                        $.ajax({
                                            url: '@Url.Action("RegisterAsync", "Account")',
                                            type: "POST",
                                            data: { Email: Email, Pwd: Password, ConfirmPwd: ConfPwd, CellNum: CellNum, DOB: DOB },
                                            success: function (response) {
                                                alert(response.responseText.toString());
                                            },
                                            error: function (response) {
                                                alert(response.responseText.toString())
                                            }
                                        });
                                    });
                                    $('#btlogin').click(function () {
                                        var email = $('').val();
                                        var password = $('').val();
                                        $.ajax({
                                            url: '@Url.Action("Login","Account")',
                                            type: "POST",
                                            data: { Email: email, Password: password },
                                            success: function (reponse) {
                                                alert(response.responseText.toString())
                                            },
                                            error: function (response) {
                                                alert(response.reponseText.toString())
                                            }
                                        })
                                    })
                                </script>
                            </div>
                            <!--Footer-->
                            <div class="modal-footer">
                                <div class="options text-right">
                                    <p class="pt-1">Already have an account? <a href="#" class="blue-text">Log In</a></p>
                                </div>
                                <button type="button" class="btn btn-outline-info waves-effect ml-auto" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                        <!--/.Panel 8-->
                        <!--Panel 9-->
                        <div class="tab-pane fade" id="panel9" role="tabpanel">
                            <!--Body-->
                            <div class="modal-body">
                                <div class="md-form form-sm">
                                    <i class="fas fa-mobile-alt"></i>
                                    <input type="email" id="modalLRInput12" class="form-control form-control-sm validate">
                                    <label data-error="wrong" data-success="right" for="modalLRInput12">Your Mobile # </label>
                                </div>
                                <div class="text-center form-sm mt-2">
                                    <button class="btn btn-dark">Sign up </button>
                                </div>
                            </div>
                            <!--Footer-->
                            <div class="modal-footer">
                                <div class="options text-right">
                                    <p class="pt-1">Already have an account? <a href="#" class="blue-text">Log In</a></p>
                                </div>
                                <button type="button" class="btn btn-outline-info waves-effect ml-auto" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                        <!--/.Panel 9-->
                    </div>
                </div>
            </div>
            <!--/.Content-->
        </div>
    </div>
    <!--Modal: Login / Register Form-->
    <!--new nav3 -->
    <div class="page">
        <div class="header">
            <div class="header-menu border-bottom">
                <div class="container mt-3">
                    <nav id="menu">
                        <ul class="justify-content-center">
                            <li class="SubmenuTabs IconHidden">
                                <a href="#"> SHOP </a>
                                <ul>
                                    <!-- Shop Menu Start -->
                                    <li class="SubmenuMega">
                                        <a href="#"> MAKEUP </a>
                                        <ul>
                                            <li class="">
                                                <a href="#"></a>
                                                <ul>
                                                    <li><a href="menupage/justarrived.html"><strong>Just Arrived  </strong></a></li>
                                                    <li><a href="#"><strong>Bestsellers</strong></a></li>
                                                    <li><a href="#"><strong>Value & Gift Sets</strong></a></li>
                                                    <li><a href="#"><strong>Mini Size</strong></a></li>
                                                    <li><a href="#"><strong>Makeup Palettes</strong></a></li>
                                                    <li> <a href="#"><strong>Face</strong></a></li>
                                                    <li> <a href="#">Foundation</a> </li>
                                                    <li> <a href="#">BB & CC Cream</a> </li>
                                                    <li> <a href="#">Tinted Moisturizer</a> </li>
                                                    <li> <a href="#">Concealer</a> </li>
                                                    <li> <a href="#">Face Primer</a> </li>
                                                    <li> <a href="#">Setting Spray & Powder</a> </li>
                                                    <li> <a href="#">Color Correct</a> </li>
                                                    <li> <a href="#">Contour</a> </li>
                                                    <li> <a href="#">Highlighter</a> </li>
                                                    <li> <a href="#">Face Sets</a> </li>
                                                </ul>
                                            </li>
                                            <li class="">
                                                <a href="#"></a>
                                                <ul>
                                                    <li><a href="#"><strong>Eye</strong></a></li>
                                                    <li> <a href="#">Eye Palettes</a> </li>
                                                    <li> <a href="#">Mascara</a> </li>
                                                    <li> <a href="#">Eyeliner</a> </li>
                                                    <li> <a href="#">Eyebrow</a> </li>
                                                    <li> <a href="#">Eyeshadow</a> </li>
                                                    <li> <a href="#">Eye Primer</a> </li>
                                                    <li><a href="#"> <strong> Lip </strong></a></li>

                                                    <li> <a href="#">Lipstick</a></li>
                                                    <li> <a href="#">Liquid Lipstick</a></li>
                                                    <li> <a href="#">Lip Stain</a></li>
                                                    <li> <a href="#">Lip Gloss</a></li>
                                                    <li> <a href="#">Lip Plumper</a></li>
                                                    <li> <a href="#">Lip Liner</a></li>
                                                    <li> <a href="#">Lip Balm & Treatment</a></li>
                                                    <li> <a href="#">Lip Sets</a></li>
                                                </ul>
                                            </li>
                                            <li class="">
                                                <a href="#"></a>
                                                <ul>
                                                    <li><a href="#">Just Arrived</a></li>
                                                    <li><a href="#">Bestsellers</a></li>
                                                    <li><a href="#">Value & Gift Sets</a></li>
                                                    <li><a href="#">Mini Size</a></li>
                                                    <li><a href="#">Makeup Palettes</a></li>
                                                    <li><a href="#">Face</a></li>
                                                    <li><a href="#">Foundation</a></li>
                                                    <li><a href="#">BB & CC Cream</a></li>
                                                    <li><a href="#">Tinted Moisturizer</a></li>
                                                    <li><a href="#">Concealer</a></li>
                                                    <li><a href="#">Face Primer</a></li>
                                                    <li><a href="#">Setting Spray & Powder</a></li>
                                                    <li><a href="#">Color Correct</a></li>
                                                    <li><a href="#">Contour</a></li>
                                                    <li><a href="#">Highlighter</a></li>
                                                    <li><a href="#">Face Sets</a></li>

                                                </ul>
                                            </li>
                                            <li class="">
                                                <a href="#"></a>
                                                <ul>
                                                    <li><a href="#">Just Arrived</a></li>
                                                    <li><a href="#">Bestsellers</a></li>
                                                    <li><a href="#">Value & Gift Sets</a></li>
                                                    <li><a href="#">Mini Size</a></li>
                                                    <li><a href="#">Makeup Palettes</a></li>
                                                    <li><a href="#">Face</a></li>
                                                    <a href="#">Foundation</a>
                                                    <a href="#">BB & CC Cream</a>
                                                    <a> <img src="~/Content/Desktop/images/just1.jpg"> </a>
                                                    <a> <img src="~/Content/Desktop/images/just2.jpg"> </a>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                    <!-- Shop Menu end -->
                                    <!-- Shop Menu Start -->
                                    <li class="SubmenuMega">
                                        <a href="#">SKINCARE</a>
                                        <ul>
                                            <li class="">
                                                <a href="#"></a>
                                                <ul>
                                                    <li><a href="#"><strong>SKINCARE </strong></a></li>
                                                    <li><a href="#"><strong>Bestsellers</strong></a></li>
                                                    <li><a href="#"><strong>Value & Gift Sets</strong></a></li>
                                                    <li><a href="#"><strong>Mini Size</strong></a></li>
                                                    <li><a href="#"><strong>Makeup Palettes</strong></a></li>
                                                    <li> <a href="#"><strong>Face</strong></a></li>
                                                    <li> <a href="#">Foundation</a> </li>
                                                    <li> <a href="#">BB & CC Cream</a> </li>
                                                    <li> <a href="#">Tinted Moisturizer</a> </li>
                                                    <li> <a href="#">Concealer</a> </li>
                                                    <li> <a href="#">Face Primer</a> </li>
                                                    <li> <a href="#">Setting Spray & Powder</a> </li>
                                                    <li> <a href="#">Color Correct</a> </li>
                                                    <li> <a href="#">Contour</a> </li>
                                                    <li> <a href="#">Highlighter</a> </li>
                                                    <li> <a href="#">Face Sets</a> </li>

                                                </ul>
                                            </li>
                                            <li class="">
                                                <a href="#"></a>
                                                <ul>
                                                    <li><a href="#"><strong>Eye</strong></a></li>
                                                    <li> <a href="#">Eye Palettes</a> </li>
                                                    <li> <a href="#">Mascara</a> </li>
                                                    <li> <a href="#">Eyeliner</a> </li>
                                                    <li> <a href="#">Eyebrow</a> </li>
                                                    <li> <a href="#">Eyeshadow</a> </li>
                                                    <li> <a href="#">Eye Primer</a> </li>
                                                    <li><a href="#"> <strong> Lip </strong></a></li>

                                                    <li> <a href="#">Lipstick</a></li>
                                                    <li> <a href="#">Liquid Lipstick</a></li>
                                                    <li> <a href="#">Lip Stain</a></li>
                                                    <li> <a href="#">Lip Gloss</a></li>
                                                    <li> <a href="#">Lip Plumper</a></li>
                                                    <li> <a href="#">Lip Liner</a></li>
                                                    <li> <a href="#">Lip Balm & Treatment</a></li>
                                                    <li> <a href="#">Lip Sets</a></li>
                                                </ul>
                                            </li>
                                            <li class="">
                                                <a href="#"></a>
                                                <ul>
                                                    <li><a href="#">Just Arrived</a></li>
                                                    <li><a href="#">Bestsellers</a></li>
                                                    <li><a href="#">Value & Gift Sets</a></li>
                                                    <li><a href="#">Mini Size</a></li>
                                                    <li><a href="#">Makeup Palettes</a></li>
                                                    <li><a href="#">Face</a></li>
                                                    <li><a href="#">Foundation</a></li>
                                                    <li><a href="#">BB & CC Cream</a></li>
                                                    <li><a href="#">Tinted Moisturizer</a></li>
                                                    <li><a href="#">Concealer</a></li>
                                                    <li><a href="#">Face Primer</a></li>
                                                    <li><a href="#">Setting Spray & Powder</a></li>
                                                    <li><a href="#">Color Correct</a></li>
                                                    <li><a href="#">Contour</a></li>
                                                    <li><a href="#">Highlighter</a></li>
                                                    <li><a href="#">Face Sets</a></li>
                                                </ul>
                                            </li>
                                            <li class="">
                                                <a href="#"></a>
                                                <ul>
                                                    <li><a href="#">Just Arrived</a></li>
                                                    <li><a href="#">Bestsellers</a></li>
                                                    <li><a href="#">Value & Gift Sets</a></li>
                                                    <li><a href="#">Mini Size</a></li>
                                                    <li><a href="#">Makeup Palettes</a></li>
                                                    <li><a href="#">Face</a></li>
                                                    <a href="#">Foundation</a>
                                                    <a href="#">BB & CC Cream</a>
                                                    <a> <img src="~/Content/Desktop/images/just1.jpg"> </a>
                                                    <a> <img src="~/Content/Desktop/images/just2.jpg"> </a>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>

                                    <!-- Shop Menu end -->
                                    <!-- Shop Menu Start -->
                                    <li class="SubmenuMega">
                                        <a href="#">HAIR</a>
                                        <ul>
                                            <li class="">
                                                <a href="#"></a>
                                                <ul>

                                                    <li><a href="#"><strong>HAIR </strong></a></li>
                                                    <li><a href="#"><strong>Bestsellers</strong></a></li>
                                                    <li><a href="#"><strong>Value & Gift Sets</strong></a></li>
                                                    <li><a href="#"><strong>Mini Size</strong></a></li>
                                                    <li><a href="#"><strong>Makeup Palettes</strong></a></li>
                                                    <li> <a href="#"><strong>Face</strong></a></li>
                                                    <li> <a href="#">Foundation</a> </li>
                                                    <li> <a href="#">BB & CC Cream</a> </li>
                                                    <li> <a href="#">Tinted Moisturizer</a> </li>
                                                    <li> <a href="#">Concealer</a> </li>
                                                    <li> <a href="#">Face Primer</a> </li>
                                                    <li> <a href="#">Setting Spray & Powder</a> </li>
                                                    <li> <a href="#">Color Correct</a> </li>
                                                    <li> <a href="#">Contour</a> </li>
                                                    <li> <a href="#">Highlighter</a> </li>
                                                    <li> <a href="#">Face Sets</a> </li>

                                                </ul>
                                            </li>



                                            <li class="">
                                                <a href="#"></a>
                                                <ul>


                                                    <li><a href="#"><strong>Eye</strong></a></li>
                                                    <li> <a href="#">Eye Palettes</a> </li>
                                                    <li> <a href="#">Mascara</a> </li>
                                                    <li> <a href="#">Eyeliner</a> </li>
                                                    <li> <a href="#">Eyebrow</a> </li>
                                                    <li> <a href="#">Eyeshadow</a> </li>
                                                    <li> <a href="#">Eye Primer</a> </li>
                                                    <li><a href="#"> <strong> Lip </strong></a></li>

                                                    <li> <a href="#">Lipstick</a></li>
                                                    <li> <a href="#">Liquid Lipstick</a></li>
                                                    <li> <a href="#">Lip Stain</a></li>
                                                    <li> <a href="#">Lip Gloss</a></li>
                                                    <li> <a href="#">Lip Plumper</a></li>
                                                    <li> <a href="#">Lip Liner</a></li>
                                                    <li> <a href="#">Lip Balm & Treatment</a></li>
                                                    <li> <a href="#">Lip Sets</a></li>
                                                </ul>
                                            </li>

                                            <li class="">
                                                <a href="#"></a>
                                                <ul>
                                                    <li><a href="#">Just Arrived</a></li>
                                                    <li><a href="#">Bestsellers</a></li>
                                                    <li><a href="#">Value & Gift Sets</a></li>
                                                    <li><a href="#">Mini Size</a></li>
                                                    <li><a href="#">Makeup Palettes</a></li>
                                                    <li><a href="#">Face</a></li>
                                                    <li><a href="#">Foundation</a></li>
                                                    <li><a href="#">BB & CC Cream</a></li>
                                                    <li><a href="#">Tinted Moisturizer</a></li>
                                                    <li><a href="#">Concealer</a></li>
                                                    <li><a href="#">Face Primer</a></li>
                                                    <li><a href="#">Setting Spray & Powder</a></li>
                                                    <li><a href="#">Color Correct</a></li>
                                                    <li><a href="#">Contour</a></li>
                                                    <li><a href="#">Highlighter</a></li>
                                                    <li><a href="#">Face Sets</a></li>
                                                </ul>
                                            </li>
                                            <li class="">
                                                <a href="#"></a>
                                                <ul>
                                                    <li><a href="#">Just Arrived</a></li>
                                                    <li><a href="#">Bestsellers</a></li>
                                                    <li><a href="#">Value & Gift Sets</a></li>
                                                    <li><a href="#">Mini Size</a></li>
                                                    <li><a href="#">Makeup Palettes</a></li>
                                                    <li><a href="#">Face</a></li>
                                                    <a href="#">Foundation</a>
                                                    <a href="#">BB & CC Cream</a>
                                                    <a> <img src="~/Content/Desktop/images/just1.jpg"> </a>
                                                    <a> <img src="~/Content/Desktop/images/just2.jpg"> </a>
                                                </ul>
                                            </li>

                                        </ul>

                                    </li>

                                    <!-- Shop Menu end -->
                                    <!-- Shop Menu Start -->
                                    <li class="SubmenuMega">
                                        <a href="#">GIFTS</a>
                                        <ul>
                                            <li class="">
                                                <a href="#"></a>
                                                <ul>
                                                    <li><a href="#"><strong>GIFTS</strong></a></li>
                                                    <li><a href="#"><strong>Bestsellers</strong></a></li>
                                                    <li><a href="#"><strong>Value & Gift Sets</strong></a></li>
                                                    <li><a href="#"><strong>Mini Size</strong></a></li>
                                                    <li><a href="#"><strong>Makeup Palettes</strong></a></li>
                                                    <li> <a href="#"><strong>Face</strong></a></li>
                                                    <li> <a href="#">Foundation</a> </li>
                                                    <li> <a href="#">BB & CC Cream</a> </li>
                                                    <li> <a href="#">Tinted Moisturizer</a> </li>
                                                    <li> <a href="#">Concealer</a> </li>
                                                    <li> <a href="#">Face Primer</a> </li>
                                                    <li> <a href="#">Setting Spray & Powder</a> </li>
                                                    <li> <a href="#">Color Correct</a> </li>
                                                    <li> <a href="#">Contour</a> </li>
                                                    <li> <a href="#">Highlighter</a> </li>
                                                    <li> <a href="#">Face Sets</a> </li>

                                                </ul>
                                            </li>



                                            <li class="">
                                                <a href="#"></a>
                                                <ul>


                                                    <li><a href="#"><strong>Eye</strong></a></li>
                                                    <li> <a href="#">Eye Palettes</a> </li>
                                                    <li> <a href="#">Mascara</a> </li>
                                                    <li> <a href="#">Eyeliner</a> </li>
                                                    <li> <a href="#">Eyebrow</a> </li>
                                                    <li> <a href="#">Eyeshadow</a> </li>
                                                    <li> <a href="#">Eye Primer</a> </li>
                                                    <li><a href="#"> <strong> Lip </strong></a></li>

                                                    <li> <a href="#">Lipstick</a></li>
                                                    <li> <a href="#">Liquid Lipstick</a></li>
                                                    <li> <a href="#">Lip Stain</a></li>
                                                    <li> <a href="#">Lip Gloss</a></li>
                                                    <li> <a href="#">Lip Plumper</a></li>
                                                    <li> <a href="#">Lip Liner</a></li>
                                                    <li> <a href="#">Lip Balm & Treatment</a></li>
                                                    <li> <a href="#">Lip Sets</a></li>
                                                </ul>
                                            </li>

                                            <li class="">
                                                <a href="#"></a>
                                                <ul>
                                                    <li><a href="#">Just Arrived</a></li>
                                                    <li><a href="#">Bestsellers</a></li>
                                                    <li><a href="#">Value & Gift Sets</a></li>
                                                    <li><a href="#">Mini Size</a></li>
                                                    <li><a href="#">Makeup Palettes</a></li>
                                                    <li><a href="#">Face</a></li>
                                                    <li><a href="#">Foundation</a></li>
                                                    <li><a href="#">BB & CC Cream</a></li>
                                                    <li><a href="#">Tinted Moisturizer</a></li>
                                                    <li><a href="#">Concealer</a></li>
                                                    <li><a href="#">Face Primer</a></li>
                                                    <li><a href="#">Setting Spray & Powder</a></li>
                                                    <li><a href="#">Color Correct</a></li>
                                                    <li><a href="#">Contour</a></li>
                                                    <li><a href="#">Highlighter</a></li>
                                                    <li><a href="#">Face Sets</a></li>
                                                </ul>
                                            </li>
                                            <li class="">
                                                <a href="#"></a>
                                                <ul>
                                                    <li><a href="#">Just Arrived</a></li>
                                                    <li><a href="#">Bestsellers</a></li>
                                                    <li><a href="#">Value & Gift Sets</a></li>
                                                    <li><a href="#">Mini Size</a></li>
                                                    <li><a href="#">Makeup Palettes</a></li>
                                                    <li><a href="#">Face</a></li>
                                                    <a href="#">Foundation</a>
                                                    <a href="#">BB & CC Cream</a>
                                                    <a> <img src="~/Content/Desktop/images/just1.jpg"> </a>
                                                    <a> <img src="~/Content/Desktop/images/just2.jpg"> </a>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>

                                    <!-- Shop Menu end -->
                                    <!-- Shop Menu Start -->
                                    <li class="SubmenuMega">
                                        <a href="#">SALE</a>
                                        <ul>
                                            <li class="">
                                                <a href="#"></a>
                                                <ul>
                                                    <li><a href="#"><strong>SALE </strong></a></li>
                                                    <li><a href="#"><strong>Bestsellers</strong></a></li>
                                                    <li><a href="#"><strong>Value & Gift Sets</strong></a></li>
                                                    <li><a href="#"><strong>Mini Size</strong></a></li>
                                                    <li><a href="#"><strong>Makeup Palettes</strong></a></li>
                                                    <li> <a href="#"><strong>Face</strong></a></li>
                                                    <li> <a href="#">Foundation</a> </li>
                                                    <li> <a href="#">BB & CC Cream</a> </li>
                                                    <li> <a href="#">Tinted Moisturizer</a> </li>
                                                    <li> <a href="#">Concealer</a> </li>
                                                    <li> <a href="#">Face Primer</a> </li>
                                                    <li> <a href="#">Setting Spray & Powder</a> </li>
                                                    <li> <a href="#">Color Correct</a> </li>
                                                    <li> <a href="#">Contour</a> </li>
                                                    <li> <a href="#">Highlighter</a> </li>
                                                    <li> <a href="#">Face Sets</a> </li>

                                                </ul>
                                            </li>
                                            <li class="">
                                                <a href="#"></a>
                                                <ul>
                                                    <li><a href="#"><strong>Eye</strong></a></li>
                                                    <li> <a href="#">Eye Palettes</a> </li>
                                                    <li> <a href="#">Mascara</a> </li>
                                                    <li> <a href="#">Eyeliner</a> </li>
                                                    <li> <a href="#">Eyebrow</a> </li>
                                                    <li> <a href="#">Eyeshadow</a> </li>
                                                    <li> <a href="#">Eye Primer</a> </li>
                                                    <li><a href="#"> <strong> Lip </strong></a></li>

                                                    <li> <a href="#">Lipstick</a></li>
                                                    <li> <a href="#">Liquid Lipstick</a></li>
                                                    <li> <a href="#">Lip Stain</a></li>
                                                    <li> <a href="#">Lip Gloss</a></li>
                                                    <li> <a href="#">Lip Plumper</a></li>
                                                    <li> <a href="#">Lip Liner</a></li>
                                                    <li> <a href="#">Lip Balm & Treatment</a></li>
                                                    <li> <a href="#">Lip Sets</a></li>
                                                </ul>
                                            </li>

                                            <li class="">
                                                <a href="#"></a>
                                                <ul>
                                                    <li><a href="#">Just Arrived</a></li>
                                                    <li><a href="#">Bestsellers</a></li>
                                                    <li><a href="#">Value & Gift Sets</a></li>
                                                    <li><a href="#">Mini Size</a></li>
                                                    <li><a href="#">Makeup Palettes</a></li>
                                                    <li><a href="#">Face</a></li>
                                                    <li><a href="#">Foundation</a></li>
                                                    <li><a href="#">BB & CC Cream</a></li>
                                                    <li><a href="#">Tinted Moisturizer</a></li>
                                                    <li><a href="#">Concealer</a></li>
                                                    <li><a href="#">Face Primer</a></li>
                                                    <li><a href="#">Setting Spray & Powder</a></li>
                                                    <li><a href="#">Color Correct</a></li>
                                                    <li><a href="#">Contour</a></li>
                                                    <li><a href="#">Highlighter</a></li>
                                                    <li><a href="#">Face Sets</a></li>

                                                </ul>
                                            </li>

                                            <li class="">
                                                <a href="#"></a>
                                                <ul>
                                                    <li><a href="#">Just Arrived</a></li>
                                                    <li><a href="#">Bestsellers</a></li>
                                                    <li><a href="#">Value & Gift Sets</a></li>
                                                    <li><a href="#">Mini Size</a></li>
                                                    <li><a href="#">Makeup Palettes</a></li>
                                                    <li><a href="#">Face</a></li>
                                                    <a href="#">Foundation</a>
                                                    <a href="#">BB & CC Cream</a>
                                                    <a> <img src="~/Content/Desktop/images/just1.jpg"> </a>
                                                    <a> <img src="~/Content/Desktop/images/just2.jpg"> </a>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                    <!-- Shop Menu end -->
                                </ul>
                                <!-- NEW Menu Start -->
                            <li class="SubmenuMega SubmenuFullwidth  pl-5">
                                <a href="#">NEW</a>
                                <ul>
                                    <li>
                                        <ul>
                                            <li><a href="#"><strong>Just Arrived 5 </strong></a></li>
                                            <li><a href="#"><strong>Bestsellers</strong></a></li>
                                            <li><a href="#"><strong>Value & Gift Sets</strong></a></li>
                                            <li><a href="#"><strong>Mini Size</strong></a></li>
                                            <li><a href="#"><strong>Makeup Palettes</strong></a></li>
                                            <li> <a href="#"><strong>Face</strong></a></li>
                                            <li> <a href="#">Foundation</a> </li>
                                            <li> <a href="#">BB & CC Cream</a> </li>
                                            <li> <a href="#">Tinted Moisturizer</a> </li>
                                            <li> <a href="#">Concealer</a> </li>
                                            <li> <a href="#">Face Primer</a> </li>
                                            <li> <a href="#">Setting Spray & Powder</a> </li>
                                            <li> <a href="#">Color Correct</a> </li>
                                            <li> <a href="#">Contour</a> </li>
                                            <li> <a href="#">Highlighter</a> </li>
                                            <li> <a href="#">Face Sets</a> </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <div> <a href="#"> <img src="~/Content/Desktop/images/new1.png"> 	</a></div>
                                        <ul></ul>
                                    </li>
                                    <li>
                                        <div>  <a href="#"><img src="~/Content/Desktop/images/new2.png"> </a></div>
                                        <ul></ul>
                                    </li>
                                    <li>
                                        <div>  <a href="#"> <img src="~/Content/Desktop/images/new3.png"> </a></div>
                                    </li>
                                </ul>
                            </li>

                            <!-- NEW Menu end -->
                            <!-- BRANDS Menu Start -->
                            <li class="SubmenuMega SubmenuFullwidth  pl-5">
                                <a href="#">BRANDS</a>
                                <ul>
                                    <li>
                                        <ul>
                                            <li><a href="#"><strong>Just Arrived 5 </strong></a></li>
                                            <li><a href="#"><strong>Bestsellers</strong></a></li>
                                            <li><a href="#"><strong>Value & Gift Sets</strong></a></li>
                                            <li><a href="#"><strong>Mini Size</strong></a></li>
                                            <li><a href="#"><strong>Makeup Palettes</strong></a></li>
                                            <li> <a href="#"><strong>Face</strong></a></li>
                                            <li> <a href="#">Foundation</a> </li>
                                            <li> <a href="#">BB & CC Cream</a> </li>
                                            <li> <a href="#">Tinted Moisturizer</a> </li>
                                            <li> <a href="#">Concealer</a> </li>
                                            <li> <a href="#">Face Primer</a> </li>
                                            <li> <a href="#">Setting Spray & Powder</a> </li>
                                            <li> <a href="#">Color Correct</a> </li>
                                            <li> <a href="#">Contour</a> </li>
                                            <li> <a href="#">Highlighter</a> </li>
                                            <li> <a href="#">Face Sets</a> </li>

                                        </ul>
                                    </li>
                                    <li>
                                        <div>
                                            <a href="#"> <img src="~/Content/Desktop/images/brands1.jpg"> 	</a>
                                        </div>

                                        <ul></ul>
                                    </li>
                                    <li>
                                        <div>
                                            <a href="#"> <img src="~/Content/Desktop/images/brands2.jpg"> 	</a>
                                            <a href="#"> <img src="~/Content/Desktop/images/brands3.jpg"> 	</a>
                                        </div>
                                        <ul></ul>
                                    </li>
                                    <li>
                                        <div>
                                            <a href="#"> <img src="~/Content/Desktop/images/brands4.jpg"> 	</a>
                                            <a href="#"> <img src="~/Content/Desktop/images/brands5.jpg"> 	</a>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                            <!-- BRANDS Menu end -->
                            <!-- GIFTS Menu Start -->
                            <li class="SubmenuMega SubmenuFullwidth  pl-5">
                                <a href="#">GIFTS</a>
                                <ul>
                                    <li>
                                        <ul>
                                            <li><a href="#"><strong>Just Arrived 5 </strong></a></li>
                                            <li><a href="#"><strong>Bestsellers</strong></a></li>
                                            <li><a href="#"><strong>Value & Gift Sets</strong></a></li>
                                            <li><a href="#"><strong>Mini Size</strong></a></li>
                                            <li><a href="#"><strong>Makeup Palettes</strong></a></li>
                                            <li> <a href="#"><strong>Face</strong></a></li>
                                            <li> <a href="#">Foundation</a> </li>
                                            <li> <a href="#">BB & CC Cream</a> </li>
                                            <li> <a href="#">Tinted Moisturizer</a> </li>
                                            <li> <a href="#">Concealer</a> </li>
                                            <li> <a href="#">Face Primer</a> </li>
                                            <li> <a href="#">Setting Spray & Powder</a> </li>
                                            <li> <a href="#">Color Correct</a> </li>
                                            <li> <a href="#">Contour</a> </li>
                                            <li> <a href="#">Highlighter</a> </li>
                                            <li> <a href="#">Face Sets</a> </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <ul>

                                            <li><a href="#"><strong>Just Arrived 5 </strong></a></li>
                                            <li><a href="#"><strong>Bestsellers</strong></a></li>
                                            <li><a href="#"><strong>Value & Gift Sets</strong></a></li>
                                            <li><a href="#"><strong>Mini Size</strong></a></li>
                                            <li><a href="#"><strong>Makeup Palettes</strong></a></li>
                                            <li> <a href="#"><strong>Face</strong></a></li>
                                            <li> <a href="#">Foundation</a> </li>
                                            <li> <a href="#">BB & CC Cream</a> </li>
                                            <li> <a href="#">Tinted Moisturizer</a> </li>
                                            <li> <a href="#">Concealer</a> </li>
                                            <li> <a href="#">Face Primer</a> </li>
                                            <li> <a href="#">Setting Spray & Powder</a> </li>
                                            <li> <a href="#">Color Correct</a> </li>
                                            <li> <a href="#">Contour</a> </li>
                                            <li> <a href="#">Highlighter</a> </li>
                                            <li> <a href="#">Face Sets</a> </li>

                                        </ul>
                                    </li>
                                    <li>
                                        <div>
                                            <a href="#"> <img src="~/Content/Desktop/images/gift1.jpg"> 	</a>
                                        </div>

                                        <ul></ul>
                                    </li>
                                    <li>
                                        <div>
                                            <a href="#"> <img src="~/Content/Desktop/images/gift2.jpg"> 	</a>
                                        </div>
                                        <ul></ul>
                                    </li>
                                </ul>
                            </li>

                            <!-- GIFTS Menu end -->
                            <!-- QUIZZES Menu Start -->
                            <li class="SubmenuMega SubmenuFullwidth  pl-5">
                                <a href="#">QUIZZES</a>
                                <ul>
                                    <li>
                                        <ul>
                                            <li><a href="#"><strong>Just Arrived 5 </strong></a></li>
                                            <li><a href="#"><strong>Bestsellers</strong></a></li>
                                            <li><a href="#"><strong>Value & Gift Sets</strong></a></li>
                                            <li><a href="#"><strong>Mini Size</strong></a></li>
                                            <li><a href="#"><strong>Makeup Palettes</strong></a></li>
                                            <li> <a href="#"><strong>Face</strong></a></li>
                                            <li> <a href="#">Foundation</a> </li>
                                            <li> <a href="#">BB & CC Cream</a> </li>
                                            <li> <a href="#">Tinted Moisturizer</a> </li>
                                            <li> <a href="#">Concealer</a> </li>
                                            <li> <a href="#">Face Primer</a> </li>
                                            <li> <a href="#">Setting Spray & Powder</a> </li>
                                            <li> <a href="#">Color Correct</a> </li>
                                            <li> <a href="#">Contour</a> </li>
                                            <li> <a href="#">Highlighter</a> </li>
                                            <li> <a href="#">Face Sets</a> </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <div> <a href="#"> <img src="~/Content/Desktop/images/quiz1.jpg"> 	</a></div>
                                        <ul></ul>
                                    </li>
                                    <li>
                                        <div>  <a href="#"><img src="~/Content/Desktop/images/quiz2.jpg"> </a></div>
                                        <ul></ul>
                                    </li>
                                    <li>
                                        <div>  <a href="#"> <img src="~/Content/Desktop/images/quiz3.jpg"> </a></div>
                                    </li>
                                </ul>
                            </li>

                            <!-- QUIZZES Menu end -->
                            <!-- Community Menu Start -->
                            <li class="SubmenuMega SubmenuFullwidth  pl-5">
                                <a href="#">COMMUNITY</a>
                                <ul>
                                    <li>
                                        <div> <a href="#"> <img src="~/Content/Desktop/images/comm1.png"> 	</a></div>

                                    </li>
                                    <li>
                                        <div> <a href="#"> <img src="~/Content/Desktop/images/comm2.png"> 	</a></div>

                                        <ul></ul>
                                    </li>
                                    <li>
                                        <div>  <a href="#"><img src="~/Content/Desktop/images/comm3.png"> </a></div>

                                        <ul></ul>
                                    </li>
                                    <li>
                                        <div>  <a href="#"> <img src="~/Content/Desktop/images/comm4.png"> </a></div>
                                    </li>
                                </ul>
                            </li>

                            <!-- Community Menu end -->
                            <!-- HAPPENING Menu Start -->
                            <li class="SubmenuMega SubmenuFullwidth  pl-5">
                                <a href="#">HAPPENING</a>
                                <ul>
                                    <li>
                                        <div> <a href="#"> <img src="~/Content/Desktop/images/hap1.png"> 	</a></div>

                                    </li>
                                    <li>
                                        <div> <a href="#"> <img src="~/Content/Desktop/images/hap2.png"> 	</a></div>

                                        <ul></ul>
                                    </li>
                                    <li>
                                        <div>  <a href="#"><img src="~/Content/Desktop/images/hap3.png"> </a></div>

                                        <ul></ul>
                                    </li>
                                    <li>
                                        <div>  <a href="#"> <img src="~/Content/Desktop/images/hap4.png"> </a></div>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                    <script>
                        $(function () {
                            $(window).resize();
                        });
                        $('#menu').dmenu({
                            menu: {
                                border: true,
                                logo: false,
                                align: false
                            },
                            item: {
                                bg: true,
                                border: false,
                                subindicator: true,

                                fit: [
                                    {
                                        items: null,
                                        fitter: 'icon-hide',
                                        order: 'all'
                                    },
                                    {
                                        items: null,
                                        fitter: 'icon-only',
                                        order: 'all'
                                    },
                                    {
                                        items: ':not(.dm-item_align-right)',
                                        fitter: 'submenu',
                                        order: 'rtl'
                                    },
                                    {
                                        items: ':not(.dm-item_align-right)',
                                        fitter: 'hide',
                                        order: 'rtl'
                                    }
                                ]
                            },
                            submenu: {
                                arrow: true,
                                border: true,
                                shadow: true
                            },
                            subitem: {
                                bg: true,
                                border: false
                            }

                        });
                    </script>
                </div> <!-- /container -->
            </div> <!-- /header-menu -->

        </div> <!-- /header -->

    </div> <!-- /page -->
    @RenderBody();
    <footer class="page-footer font-small black container-fluids">
        <!-- Footer Links -->
        <div class="container">
            <!-- Grid row -->
            <div class="row">
                <!-- Grid column -->
                <div class="col-md-3 mx-auto black">
                    <!-- Links -->
                    <h5 class="font-weight-bold text-uppercase mt-3 mb-4">About Sephora</h5>

                    <ul class="list-unstyled">
                        <li>
                            <a href="#!">About Sephora</a>
                        </li>
                        <li>
                            <a href="#!">Careers</a>
                        </li>
                        <li>
                            <a href="#!">Sephora Stands Social Impact</a>
                        </li>
                        <li>
                            <a href="#!">VAffiliates</a>
                        </li>
                        <li>
                            <a href="#!">Supply Chain Transparency</a>
                        </li>
                        <li>
                            <a href="#!">Sitemap</a>
                        </li>
                        <li>
                            <a href="#!">Sephora Global Sites</a>
                        </li>
                    </ul>
                </div>
                <!-- Grid column -->
                <hr class="clearfix w-100 d-md-none">
                <!-- Grid column -->
                <div class="col-md-3 mx-auto black">
                    <!-- Links -->
                    <h5 class="font-weight-bold text-uppercase mt-3 mb-4">About Sephora</h5>
                    <ul class="list-unstyled">
                        <li>
                            <a href="#!">About Sephora</a>
                        </li>
                        <li>
                            <a href="#!">Careers</a>
                        </li>
                        <li>
                            <a href="#!">Sephora Stands Social Impact</a>
                        </li>
                        <li>
                            <a href="#!">VAffiliates</a>
                        </li>
                        <li>
                            <a href="#!">Supply Chain Transparency</a>
                        </li>
                        <li>
                            <a href="#!">Sitemap</a>
                        </li>
                        <li>
                            <a href="#!">Sephora Global Sites</a>
                        </li>
                    </ul>
                </div>
                <!-- Grid column -->
                <hr class="clearfix w-100 d-md-none">
                <!-- Grid column -->
                <div class="col-md-3 mx-auto black">
                    <!-- Links -->
                    <h5 class="font-weight-bold text-uppercase mt-3 mb-4">About Sephora</h5>
                    <ul class="list-unstyled">
                        <li>
                            <a href="#!">About Sephora</a>
                        </li>
                        <li>
                            <a href="#!">Careers</a>
                        </li>
                        <li>
                            <a href="#!">Sephora Stands Social Impact</a>
                        </li>
                        <li>
                            <a href="#!">VAffiliates</a>
                        </li>
                        <li>
                            <a href="#!">Supply Chain Transparency</a>
                        </li>
                        <li>
                            <a href="#!">Sitemap</a>
                        </li>
                        <li>
                            <a href="#!">Sephora Global Sites</a>
                        </li>
                    </ul>
                </div>
                <!-- Grid column -->
                <hr class="clearfix w-100 d-md-none">
                <!-- Grid column -->
                <div class="col-md-3 mx-auto black">
                    <!-- Links -->
                    <h5 class="font-weight-bold text-uppercase mt-3 mb-4">About Sephora</h5>
                    <ul class="list-unstyled">
                        <li>
                            <a href="#!">About Sephora</a>
                        </li>
                        <li>
                            <a href="#!">Careers</a>
                        </li>
                        <li>
                            <a href="#!">Sephora Stands Social Impact</a>
                        </li>
                        <li>
                            <a href="#!">VAffiliates</a>
                        </li>
                        <li>
                            <a href="#!">Supply Chain Transparency</a>
                        </li>
                        <li>
                            <a href="#!">Sitemap</a>
                        </li>
                        <li>
                            <a href="#!">Sephora Global Sites</a>
                        </li>
                    </ul>
                </div>
                <!-- Grid column -->
                <hr class="clearfix w-100 d-md-none">
            </div>
            <!-- Footer Links -->
            <hr style="background:grey;">
            <div class="row">
                <div class="col-md-6">
                    <div class="col-md-5 float-left m-0 p-0 pt-2">
                        <p style="color:white; font-size:15px;">Sign up for Bazarkas Emails   </p>
                    </div>
                    <div class="col-md-7 float-left m-0 p-0">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Email Address">
                            <div class="input-group-append">
                                <a href="#"> <button class="btn btn-secondary black" type="button"> </a>
                                <i class="fas fa-chevron-right black"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <ul class="nav ml-5 float-right">
                        <li class="nav-item">
                            <a href="#" class="nav-link"> <i class="fab fa-facebook-f"></i> </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link"> <i class="fab fa-twitter-square"></i> </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link"> <i class="fab fa-instagram"></i> </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link"> <i class="fab fa-youtube-square"></i> </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link"> <i class="fab fa-pinterest"></i> </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link"> <i class="fab fa-google-plus-square"></i> </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link"> <i class="fab fa-tumblr-square"></i></a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link"> <i class="fas fa-th"></i> </a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- Copyright -->
            <div class="footer-copyright text-center py-3">
                © 2018 Copyright:
                <a href="#"> xyz.com</a>
            </div>
            <!-- Copyright -->
        </div>
    </footer>
</body>
</html>
<script>
    $("#btCheckout").click(function () {
        window.location.href = "/Shop/Basket";
    });
</script>